gris_oscuro = #444
azul_oscuro = #233140
azul_medio = #2c3e50
azul = #006e9e
rojo_vino = rgb(180, 56, 73)
rojo_trans = rgba(180, 56, 73,0.7)
azul_marino = #337ab7
azul_trans = rgba(51, 122, 183, 0.8)
azul_trans2 = rgba(51, 122, 183, 0.3)
azul_btn =#19b9e7
rojo = #d9534f
gris_claro = #ddd
rojo_oscuro = #c72931
barras = #f5f5f5
action-color = #64dd17
action-color-hover = #b2ff59
blanco = #fff
marron = #827269
azul2 = #00213e
gris_oscuro2 =#4D5C57
azul_claro =#4EA1B3
azul_claro_tran =rgba(78, 161, 179, 0.8)
gris_oscuro3 =#7F7F7F
gris= #616163
fondo= #827269;
fondo_tran=rgba(130, 114, 105, 0.63);
//-----------------------------
.page-outer 
	max-width 1366px
	margin auto
header.row
	.head
		background: gris_oscuro3
		.page-outer.row
			max-width 1366px
			margin auto
			.logotipo
				a.logo
					text-decoration none
					width 100%
					img
						height 90px
			.redes
				padding 2em
				a
					text-decoration none
					color white
					font-size 20px
					i
						margin-bottom 10px
				a:hover
					color fondo
			.info
				padding 2em
				text-align right
				i
					color white
					font-size 20px
					margin-bottom 10px
				i.direccion
					font-size 15px
.navbar-collapse.navbar-ex1-collapse.view.collapse.in
	.nav.navbar-nav
		background azul2
		.active
			background-color fondo
.navbar
	margin-bottom 0

.breadcrumb
	margin-top: 8em
.centrar
	display flex
	flex-direction row
	align-items center
	justify-content center
.login-fixed
	width 100%
	margin 0
	padding 0
	background: gray
	display none
	z-index 999999
	position fixed
	top 6.5em
	padding 2em 0
	.sign-up
	.sign-in
		h3
		h4
			color white
		input
			margin .5em 0
			padding .5em 2em
			font-size: 1.2em
.sell-my-car
.dealers
	h3
		color white
	a
		color white
		font-size: 1.2em
.line-small
	width 2px
	background white
	height auto
	margin 15px
.line-big
	width 3px
	background white
	height auto
	margin -15px 15px
.forgot
	color white
.btn-danger
	background rojo_vino
.title
	margin-top 1em
	margin-bottom 0
	color azul_marino
	text-shadow 1px 1px 1px black
	font-size: 3em
	font-family Lato,sans-serif
	a
		margin-top: -0.5em
.titleC
	margin-top: 0
	margin-bottom: 0.5em !important

.carousel-control.left
.carousel-control.right
	background-image none
body
	a
		cursor pointer !important
		&:hover
			text-decoration none

option
	padding 1em

.page-outer
	height: 100%
	max-width 1366px
	margin auto
	background: transparent

#option
	display none !important

#margin-left
	margin-left -1em

#no-top
	margin-top 1em

header
	margin 0
	margin-right 0px !important
	margin-left 0px !important
	.navbar-inverse
		padding 20px 0px 0 0
		background-color azul2
		border-color rgba(255,255,255,0.9)
		border-bottom 10px solid marron
		border-radius: 0
		border-top: none
		border-left: none
		border-right: none
		width 100%
		display flex /*ojo*/
		.page-outer
			width: 100%
			background transparent
			display flex
			justify-content center

		a
			color white !important
			font-size 1.2em
		.active
			a
				background-color marron  !important
				border-color marron  !important
				color white !important
		li
			a
				&:hover
					background-color marron  !important
					border-color marron  !important
					color white !important

		.navbar-brand
			padding 0
			margin-left 0em
			img
				width 320px
				height 90px
				margin-top -0.9em
		.navbar-right
			margin-right 0

		.collapse
			width 70%
		.sign-in_sign-up
			position absolute
			top 10px
			right 20px
			color #337ab7
			border 0px
			background transparent

		.navbar-nav
			display flex
			height 50px
			line-height 60px
			margin 0
			margin-top 0.3em
			//overflow-x auto
			white-space nowrap
			width 100%
			//background fondo
			&>li
				&>a
					padding 0.9em 1.4em !important
					text-align center
			&>.open
				&>a
					background-color rojo_trans !important
					color white !important
		.navbar-toggle
			background-color azul !important
			&:hover
				background-color rojo_trans !important

	.fixed
		position fixed
		z-index 10000
		width 100%
		top 0



.trin
	border-right: 100px solid #428bca
	border-top: 20px solid #f0ad4e
	border-bottom: 50px solid #d9534f
.content
	//margin-top: 6em
	background white
	padding-bottom 1em
	.car_finder
		background white
		.from
			display flex
			margin-left 10em
			.table
				margin-top 1em
				.info
					margin-top 1em
					display flex
					input
						width 30%
						border-radius 5px
					span
						font-size 24px
						font-weight 700
					label
						margin-top 5px
						width 15%
						text-align right
	.contact_us
		.title
			color azul2
			text-align center
		.from
			background gris_oscuro3
			#contactForm
				margin-top 1em
				.primero
					margin-top 1em
				.cen
					text-align center
					margin-bottom 1em

	.direction
		.title
			color azul2
			text-align center
		.caja
			background gris_oscuro3
			p
				margin 1em

	.inventory
		.busqueda
			.cuatro
				display flex
				.dos
					display flex
					.boton
						display flex
						margin-left 2em
						margin-bottom 1em
						margin-top 1em
						color white
						select
							background azul2
							border 2px solid black
						h5
							width 60px
							text-align right
					.up
						margin-left 4em
						text-align center
						margin-bottom 1em
						color white
						select
							background azul2
							border 2px solid black

	.cajas
		//background gris_oscuro3
		.page-outer
			max-width 1366px
			margin auto
			display flex
			padding-top 2em
			.flechas
				display flex
				align-items center
				//padding 0
				img
					width 50px
					height 50px
					border-radius 50%
					background azul2
			.carros
				padding 0
				.carro
					margin-bottom 3em
					.thumbnail
						max-width 100%
						border 0
						box-shadow none
						background-color: transparent
						a
							background transparent
							padding 0
							img
								height 200px
						.caption
							border-bottom 0
							height 100%
							padding-left 0
							padding-right 0
							//background gris_oscuro3
							.texto
								text-align left
								padding 0
								a
									h4
										color black
										text-align left
							.price
								text-align center
								padding: 1px;
								text-decoration: none;
								color: white;
								font-weight: bold;
								text-shadow: 0 1px 0 fondo;
								line-height: 56px;
								border-left: 12px solid transparent;
								border-bottom: 35px solid fondo;
								height: 0;
								display: inline-block;
							.price2
								border-left: 18px solid transparent;
								border-bottom: 70px solid fondo;
								.dos
									display flex
									margin-top 0
									margin-bottom 0
								h4
									color white
									font-size 14px
									margin-left 2px
							.detail
								padding 0
								border-bottom 1px solid gris_oscuro2
								a
									color fondo
									text-align right
									p
										margin-bottom 0
							.extra
								padding 0
								h5
									font-size 12px
									color gris_oscuro2
									width 100%
			.carro.special
			padding-left 5px
			padding-right 5px
			.thumbnail
				.caption
					.price
						margin-top 0
						.special
							font-size 10px
							text-decoration line-through
							margin-right 0
						h4
							font-size 12px
							margin-right 5px
	img
		width 100%
		height 500px
	.head
		background: gris_oscuro3
		padding: 1em 3em
		color: white
		span
			margin-left: 1em
		.Npd
			text-align: center;
			label
				display: none;

	.financing
		.title
			margin-top 0
			text-align center
			color azul2
		.from_financing
		max-width 1550px
		margin auto
		margin-top 2em
		form
			width 100%
		.barra
			width 100%
			margin-bottom 1em
			background gris_claro
			display flex
			padding 5px
			border-radius 5px
			justify-content center
			h4
				margin-top 5px
				margin-bottom 0

				color black
			span
				background azul2
				padding 5px
				color white
				text-align right
				border-radius 5px
				margin-right 0.5em
		.caja
			margin-bottom 1em
			h4
				height 25px
			textarea
			input
			select
				border 1px solid azul2
				background white
				border-radius 5px
				margin-left 0
			.title.l
				width 25%
			.title
				margin-left 10px
				margin-top 0
				background azul2
				width 20%
				border-radius 5px 5px 0 0
				h3
					text-align center
					color white
					font-size 17px
					font-weight normal
					text-shadow none
					margin-bottom 0
			.Referral
			.Vehicle
			.Contact
			.Personal
			.Previous
			.Employment
			.Disclaimer
			.Employer
			.Information
				background gris_claro
				padding 5px 1em 5px 1em
				border-radius 5px
			.Referral
				input
					width 100%
			.Vehicle
				select
					width 33%
				input
					width 50%
			.Contact
				.tres
					display flex
					.info
						width 33%
						margin-right 10px
						input
							width 100%
				.dos
					display flex
					margin-bottom 0
					margin-top 0
					.info
						width 50%
						input
							width 31%
						.end
							width 35%
					.info1
						width 50%
						margin-right 5px
						input
							width 100%
						.dos
							.info
								margin-right 5px
			.Personal
				.tres
					display flex
					.info
						margin-right 10px
						width 33%
						input
							width 100%
						.tres
							input
								margin-right 10px
				.cuatro
					display flex
					.info
						margin-right 10px
						width 25%
						input
						select
							width 100%
			.Previous
				.dos
					display flex
					margin-bottom 0
					margin-top 0
					.info
						width 50%
						margin-right 1em
						input
							width 100%
				.cuatro
					display flex
					.info
						width 25%
						margin-right 1em
						select
						input
							width 100%
			.Employment
				.tres
					display flex
					.info
						margin-right 1em
						width 33%
						input
							width 100%
					.info1
						margin-right 1em
						width 33%
						input
							width 30%
						.end
							width 35%
				.cuatro
					display flex
					.info
						width 25%
						margin-right 1em
						input
							width 100%
				.uno
					width 100%
					textarea
						width 100%
						height 100px
			.Employer
				.dos
					margin 0
					display flex
					.info
						margin-right 1em
						width 50%
						input
							width 100%
					.info1
						margin-right 1em
						width 50%
						input
							width 32%
				.tres
					display flex
					.info
						width 33%
						margin-right 1em
						select
						input
							width 100%
			.Information
				.tres
					display flex
					.info
						width 31%
						margin-right 1em
						input
							width 100%
					.info1
						width 31%
						margin-right 1em
						input
						select
							width 31%
				.dos
					display flex
					margin 0
					.info
						margin-right 1em
						width 50%
						input
						select
							width 100%
					.info1
						margin-right 1em
						width 50%
						input
							width 30%
				.uno
					input
						width 95%
				.cuatro
					display flex
					.info
						width 24%
						margin-right 1em
						input
						select
							width 100%
						h4
							height 40px
			.Disclaimer
				.checkbox
					label
						width 200px
						padding-bottom 0
						padding-top 0
		.no_view
			display none
		.view
			display block
		.boton
			display flex
			justify-content center
			margin-top 1em
			a
				background #56d181
				color white
				padding 0.5em 2em
				border-radius 5px
h1
h2
h3
	margin: 0
footer
	width 100%
	color #fff !important
	background-color #f5f5f5
	margin-top 0 !important
	.top
		background white url('/static/images/footer.png') no-repeat center center
		width 100%
		height 450px
		background-size cover
		max-width 1550px
		margin auto
		margin-bottom -150px
		.contact
			background red
			bottom 10%
			left 10%
		.redes
			background red
			bottom 10%
			right 10%
	.footer-above
		background-color #021739
		.container
			width 100%
			padding 2em 0
			.footer-col
				h3
					margin 1em 0
				.cont
					display inline-block
					margin 0 auto
					div
						text-align left
						span
							text-align left
					.lo
						text-align center
						margin-top 10px
				ul
					margin 1em 0
					.redes
						font-size 2em
						padding 0.4em
						&:hover
							color rojo_vino
				.become
					font-size 3em
					color rojo_vino
					&:hover
						color azul


	.footer-below
		//padding 25px 0
		background linear-gradient(azul2,azul2,#222)
		#fecha
			font-weight normal
		.titulo
			    color white
			    margin-bottom 3px
			    margin-top 1em
			    padding 10px 0px 6px
			    border-bottom 1px solid white
		p
			text-align: justify;
			margin 0
		.left
			text-align: left;
			margin-top: 0.5em
		.separar
			padding 1em 0
		.redes
			text-align: left
			font-size: 1.5em
			a:hover
				color gray
		.become-footer
			text-align: right
			a
				font-size: 1.5em
				text-align: right
				color:rojo_vino
				&:hover
					color gray
		ul
			list-style none
			padding 0
			margin 0
			li
				text-align left
				margin: 0.5em 0
				a
					color white
					font-size 1.1em
					&:hover
						color gray
				.glyphicon
					&:before
						font-size: 1.5em
		.cont
			span
				margin: 10px 0
	.footer-1
		background #2a2a2a
/*--------------------------------reponsive-----------------------------------------*/
	@media (max-width: 1280px)
		.content
			.inventory
				.busqueda
					.cuatro
						.dos
							.boton
								margin-left 1em

	@media (max-width: 1230px)
		.content
			.inventory
				.busqueda
					.cuatro
						.dos
							.boton
								margin-left 10px

	@media (max-width: 1200px)
		.content
			.inventory
				.busqueda
					.cuatro
						display block
						.dos
							justify-content center
							.boton
								margin-left 10px

	@media (max-width: 1140px)
		header
			.navbar-collapse
				position absolute
				left 0
				top 60px
				background white
				color white
			.navbar-inverse
				padding-top 0.5em !important
				padding-bottom 0.5em !important
				display block !important
				.collapse
					width 100% !important
					border-top 1px solid black !important
					margin-top 1em !important
				.view
					display block !important
				.no-view
					display none !important
				.navbar-header
					float none !important
				.navbar-toggle
					display block !important
					z-index 10	!important
				.navbar-nav
					flex-direction column !important
					height 100%	!important
		.content
			margin-top 5em

	@media(max-width: 1080px)
		.content
			.cajas
				display flex
				width 100%
				text-align center
				justify-content center
				.carros
					display block
					.dos
						width 80%
					.car
						margin-bottom 2em
						width 50%

	@media (max-width: 1024px)
		.content
			margin-top 0
			.blog__encabezado
				.blog__buscadors
					.cajas
						flex-direction column
						form 
							padding 0 1em 1em 0
			.from_financing
				.caja
					.title.l
						width 35%

/*---------------------SM--------------------------------*/
	@media (max-width: 992px)
		header
			img
				width 100%
				height 30px

		.bottom-box
			margin-top 10em

		.middle-border
			display none

		.search_by
			.body
				.cont-list
					.list
						ul
							li
								a
									font-size 14px

	@media(max-width: 860px)
		.content
			.cajas
				.dos
					.car
						width 70%

/*  ----------------------------XS---------------------------------------------*/
	@media (max-width: 768px)
		.blog__buscadors
			padding-left: 0
			padding-right: 0
			margin-top: 20px
			.cajas
				form 
					.pl 
						button
							width 100%
		.thumbnail
			max-width: 100%
		.blog
			.thumbnail
				height: 100%
				.caption
					height: 100%
		.content
			.cars
				.redes__movil
					text-align center
			.head 
				.Npd
					margin-bottom 10px
			.from_financing
				.caja
					.title
						width 30%
					.title.l
						width 45%
					.Vehicle
						.make
							select
								width 30%
							input
								width 100%
					.Contact
						.tres
							display block
							.info
								width 100%
						.dos
							display block
							.info
								width 100%
							.info1
								width 100%
					.Personal
						.tres
							display block
							.info
								width 100%
								.tres
									display flex
						.cuatro
							display block
							.info
								width 100%
					.Previous
						.dos
							display block
							.info
								width 100%
						.cuatro
							display block
							.info
								width 100%
					.Employment
						.tres
							display block
							.info
							.info1
								width 100%
						.cuatro
							display block
							.info
								width 100%
					.Employer
						.dos
							display block
							.info
							.info1
								width 100%
						.tres
							display block
							.info
								width 100%
					.Information
						.tres
							display block
							.info
							.info1
								width 100%
						.dos
							display block
							.info
							.info1
								width 100%
						.cuatro
							display block
							.info
								width 100%

	@media (max-width: 768px)
		header
			.navbar-brand
				img
					width 350px !important
					height 80px !important
					margin-top -1em  !important
		header

			.navbar-brand
				padding 0
				margin-left 1em
				img
					width 200px
					height 50px
			.navbar-right
				margin-right 0

			.navbar-nav
				&>li

					&>a
						line-height 0px
			.fixed
				.navbar-brand
					img
						width 250px !important
						height 70px !important
						margin-top -0.5em !important
		.pages
			.detail
				margin-top 1em !important
				.barra
					flex-direction column
					a
					div 
						margin-bottom 10px

	@media(max-width: 700px)
		.content
			.botones
				.dos
					display block
					a
						.boton
							margin-bottom 2em
			.cajas
				.dos
					.car
						margin-left 1.5em
						width 80%

	@media(max-width: 700px)
		.content
			.cajas
				.left
				.right
					display none
				.carros
					width 100%
					.dos
						align-items center
						flex-direction column
						width 100%
						.car
							margin 0
							margin-bottom 1em
							width 50%

	@media(max-width: 620px)
		.content
			.inventory
				.busqueda
					.cuatro
						.dos
							flex-direction column
							justify-content center
							align-items center
							.up
								margin-left 0
								h5
									width 100%
									text-align center

	@media(max-width: 520px)
		.content
			.inventory
				.busqueda
					.cuatro
						.dos
							.boton
								margin-left 0
							.up
								display flex
								flex-direction column
								select
									margin-bottom 1em

	@media(max-width: 440px)
		.content
			.botones
				display block
				.dos
					width 100%
					margin-left 1em

	@media (max-width: 430px)
		header
			.navbar-brand
				img
					width 250px !important
					margin-top -1em !important

	@media (max-width: 425px)
		.content
			.top_men 
				flex-direction column
				a 
				div 
					margin-bottom 10px
			.cars 
				.barra__car
					flex-direction column
					margin-top 10px
					button
					div 
						margin-bottom 10px 
						width 100%
						select 
							width 100%
			.box__cajas__cambiar
				padding-right 0
			.head
				.Search
					width 100%
			.cajas 
				.page-outer
					.flechas 
						img 
							width 15px
							height 15px
			.from_financing
				.caja
					.title
						width 55%
					.title.l
						width 80%

	@media (max-width: 375px)
		.content
			.contact_us
				.titulo
					h3
						font-size 16px
						width 280px
			.from_financing
				.caja
					.title
						width 95%
					.title.l
						width 95%

	@media (max-width: 345px)
		header
			.navbar-brand
				img
					width 200px !important
					height 80px !important
					margin-top -1em  !important
					
	@media (max-width: 320px)
		.content
			.contact_us
				.email
					img 
						width 70px 
						height 70px
				.titulo
					padding 0 10px	
					h3
						width 245px					
			.blog__encabezado
				.blog__buscadors
					.cajas
						form 
							.pl 
								button
									font-size 10px
									height 34px
/*---------------------------------fonts fontello-------------------------------------*/

	@font-face
		font-family 'fonts'
		src url('/static/fonts/fontello.eot?27292979')
		src url('/static/fonts/fontello.eot?27292979#iefix') format('embedded-opentype'),
		   url('/static/fonts/fontello.woff2?27292979') format('woff2'),
		   url('/static/fonts/fontello.woff?27292979') format('woff'),
		   url('/static/fonts/fontello.ttf?27292979') format('truetype'),
		   url('/static/fonts/fontello.svg?27292979#fontello') format('svg')
		font-weight normal
		font-style normal

	@font-face
		font-family 'Effra'
		font-style normal
		font-weight normal
		src local('Effra'), url('/static/fonts/Effra_Std_Rg.woff') format('woff')

/*---------------------------------Icon-------------------------------------*/
	.icon-twitter:before
		font-family fonts
		content: '\e800'

	.icon-mail:before
		font-family fonts
		content: '\e801'

	.icon-user:before
		font-family fonts
		content: '\e802'

	.icon-phone:before
		font-family fonts
		content: '\e803'

	.icon-facebook:before
		font-family fonts
		content: '\e804'

	.icon-flickr:before
		font-family fonts
		content: '\e805'

	.icon-gplus:before
		font-family fonts
		content: '\e806'

	.icon-instagram:before
		font-family fonts
		content: '\e807'

	.icon-whatsapp:before
		font-family fonts
		content: '\e808'

	.icon-youtube:before
		font-family fonts
		content: '\e809'

	.icon-users:before
		font-family fonts
		content: '\e80a'

	.icon-calendar:before
		font-family fonts
		content: '\e80b'

	.icon-home:before
		font-family fonts
		content: '\e80c'

	.icon-edit:before
		font-family fonts
		content: '\e80d'

	.icon-location:before
		font-family fonts
		content: '\e80e'

	.icon-paper-plane-empty:before
		font-family fonts
		content: '\e80f'

	.icon-clock:before
		font-family fonts
		content: '\e810'

	.icon-github-circled:before
		font-family fonts
		content: '\e811'

	.icon-skype:before
		font-family fonts
		content: '\e812'

	.icon-vine:before
		font-family fonts
		content: '\e813'

	::-webkit-scrollbar-track {
	  background-color: azul_trans2
	}
	::-webkit-scrollbar-track-piece {
	  background-color: rgba(1,1,1,0)
	}
	::-webkit-scrollbar {
	  width: 8px
	  height: 6px
	  background-color: rgba(1,1,1,0)
	}
	::-webkit-scrollbar-thumb {
	  background-color: rgba(61,61,61,0.5)
	}
/*
.container {
	display: flex;
	flex-direction: row | row-reverse | column | column-reverse;
	justify-content: flex-start | flex-end | center | space-between | space-around;
	align-items: flex-start | flex-end | center | baseline | stretch;

	align-content: flex-start | flex-end | center | space-between | space-around | stretch;
	flex-wrap: nowrap | wrap | wrap-reverse;
	flex-flow: <‘flex-direction’> || <‘flex-wrap’>
}
.item {
	align-self: auto | flex-start | flex-end | center | baseline | stretch;
	order: <integer>; //para ordenar los elementos sin importar como esta en el HTML
	flex-basis: <length> | auto;//le damos un tamaño fijo a un elemento y los demas se ordenan en base a el

	flex-shrink: <number>;
	flex-grow: <number>;//no tan util para que ocupe el espacio de la suma de los otros elementos
	flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}
*/
.imprimir
	display: none;

#shareM
	border-top 0
	margin-top 0
	padding-top 0
	margin: auto;
	.modal-content
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1em
		a
			color: white;
			padding: 0 1em;
			line-height: 2em;
			margin: 0.1em;
			background: #dd4b39;
			width: 200px
			text-align: center;
			&.facebook
				background: #3b5998;
			&.twitter
				background: #55acee;
			&.share-post .googleplus
				background: #dd4b39;
		.btn
			margin-top: 1em
.detail
	p
		padding: 0
	.slide3
		img
			height: 350px !important;
			width: auto;
			margin: 0 auto;
	.redes
		display flex
		justify-content flex-end
		padding 0
		margin 0
		padding 0 2em
		img
			width 40px
			height 40px
			margin-left 1em
	.barra
		background barras
		display flex
		justify-content space-between
		align-items center
		margin-top 2em
		padding 0.5em 1em
		font-size 1.2em
		color #337ab7
		strong
			color rojo_oscuro
			margin-left 0.5em
		div
			display flex
			justify-content center
			align-items center
		img
			height 30px
			width 30px
			margin-right 10px
	.page
		padding 1em
		.titulo
			display flex
			align-items center
			border-top 5px solid gris_claro
			border-bottom 2px solid gris_claro
			margin-top 1em
			.glyphicon
				font-size 1.5em
				margin-right 0.5em
			p
				width: 100%
			a
				margin-left 1em
			img
				height 40px
				width 40px
				margin-right 1em
			.dos
				width 100%
				display flex
				justify-content space-between
				padding 0 2em
				h4
					display flex
					strong
						margin-right 1em
		.body
			margin-top 1em
			.box
				margin-bottom 1em
				img
					padding 0
					height 50px
					width 50px
					float left
					margin-right 1em
				.tex
					padding 1em
					box-shadow 2px 2px 5px #999
					display  flex
					justify-content  center
					align-items  center
					p
						margin 0
		.centrar
			display flex
			justify-content center
			align-items center
			.btn
				padding 0
				padding-left 1em
				background azul
				color white
				display flex
				justify-content center
				align-items center
				i
					padding 1em
		form
			margin-top 1em
			.input-group
				margin-bottom 1em
		ul
			list-style none
			padding 0
			margin-top 1em
			font-size 1.2em
		.cont
			margin-top 1em
			.gp
				margin-top 1em
				display flex
				justify-content flex-start
				align-items center
				img
					margin-right 1em
					height 60px
					width 5	0px
		.slide
			display flex
			justify-content center
			flex-direction column
			align-items center
			.thumbnail

				h3
					margin 0
					text-align center
					margin-top -1.06em
					font-size 2em
					background rgba(50,50,50,0.8)
					position relative
					color #fff
					font-weight 200
		.abajo
			flex-direction inherit
			.thumbnail
				width 300px
				margin-right 15px
		.titulos
			display flex
			justify-content space-between
			align-items center
			strong
				color azul
		.photo
			.thumbnail
				border none
				&:hover
					img
						opacity 0.8
			.mini-thumbnail
				padding 0 1em
		.detail
			h1
				text-align center
				color azul
				text-decoration underline
			.more_size
				font-size: 1.5em
			.list
				padding 0 0.5em
				.lista
					li
						display flex
						justify-content space-between
						align-items center
		.des
			font-size 1.2em
			text-align: justify;
		.more-marge
			margin-top: 2em
		iframe
			width 100%

		.box_dealer
			text-align center
			font-size 18px
			border-top 5px solid gris_claro
			border-bottom 2px solid gris_claro
			img
				width 300px
			p
				width: 100%


		.publicidad
			display flex
			justify-content center
			flex-direction column
			padding: 2em 3em 2em 3em
			img
				margin-bottom 1em
				height: 750px

@media print
	.imprimir
		display: block !important;
	.ver
		display: block !important;
	header
	footer
		display: none;
	.detail
		.red
		.barra
			display: none;
		.page
			display: flex !important;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
			.titulo
			.slide2
			form
			.body
			.publicidad
			.verde
			iframe
				display: none;
			.slide
				.carousel-control
					display: none;
			.box_dealer
				position: absolute;
				bottom: 100%
				border-top: none
				width: 100%
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				display: none;
				img
					width: 300px
					height: 60px
				.tit
				.cont
					display: flex;
					justify-content: center;
					align-items: center;
//-----------------------------------------------CONTACT--------------------------------------
.contact_us
	padding: 1em
	background: white
	.email
		padding: 1em
		display: flex;
		align-items: center;
		justify-content: center;
		img
			width: 100px
			height: 100px
		h4
			padding: 0.5em
	.redes
		text-align: center;
		padding: 1em
		.icon
			margin-top: 1em
			display: flex;
			justify-content: center;
			align-items: center;
		img
			height: 50px
			width: 50px
			margin: 2px
	.info
		h3
			margin: 1em
	.titulo
		padding: 0 2em
		h3
			background:fondo
			color: white
			width: 300px;
			padding: 0.1em 0.5em;
			font-size: 1.5em;
			text-align: center;
			border-radius: 10px 10px 0 0
	.cen
		display: flex;
		width: 100%
		button
			margin: auto;
			background: fondo

	form
		background: gris
		padding: 1em
		border-radius: 10px
		margin: 0
	.control-group.form-group
		padding: 0 1em
		input
			margin: 0
//-------------------------------------------------------search
.content
	.busqueda
		background azul2
		.Npd
			select
				width 100%
				border 2px solid fondo
				font-size: 15px
				padding: 3px
				background: white
				color: fondo
				border-radius 5px
		.btn-success
			border 1px solid fondo

//----------------------------------------Sell or Trade------------------------------------------------
header
	 .navbar-inverse.sell_or_trade
		 background: gris_claro
		 border-bottom: 0
		 padding-top: 0
		 padding-bottom: 10px
		.navbar-nav
			li
				border-left: 1px solid gris_oscuro2
				color: black !important
				a
					padding: 5px 10px !important
					color: black !important
					&:hover
						background: gris_oscuro2 !important
						color: white !important
//-------------------------------------css de los carros
.cajas
	.page-outer
		.carros
			.carro
			margin-bottom 3em
			.thumbnail
				max-width 100%
				border 0
				box-shadow none
				a
					background transparent
					padding 0
					img
						height 200px
				.caption
					border-bottom 0
					height 100%
					padding-left 0
					padding-right 0
					.texto
						text-align left
						padding-left 0
						a
							h4
								color black
								text-align left
					.price
						background fondo
						margin-top 15px
						text-align center
						padding-right 0
						.dos
							display flex
							margin-top 0
							margin-bottom 0
						h4
							color white
							font-size 14px
							margin-left 2px
					.detail
						padding 0
						border-bottom 1px solid gris_oscuro2
						a
							color fondo
							text-align right
							p
								margin-bottom 0
					.extra
						padding 0
						h5
							color gris_oscuro2
							width 100%
//--------------------------------------------------------------------- template sell or trade

.trade
	max-width 1366px
	margin auto
	.title
		border-bottom 1px solid gris_oscuro2
		margin-top 10px
	.sub_title
		margin-bottom 2em
		.imagen
			img
				width 100%
				height 150px
		.texto
			h2
				margin-top 1em
	.formulario
		.titulo
			background azul2
			border-radius 10px 10px 0 0
			margin-left 2em
			h4
				text-align center
				color white
		.caja
			background gris_claro
			border 2px solid gris_claro
			border-radius 10px
			margin-bottom 2em
			padding-bottom 1em
			select
			input
				background: white
				margin-left 0px
				width 100%
				border-radius 5px
				border 1px solid azul2
				font-size 18px
			select
				padding 2px
			h4
				height 10px
			.tres
				.izq
					padding-left 0
				.der
					padding-right 0

@media (max-width: 767px)
	.trade
		.formulario
			.caja
				.tres
					.izq
						padding-left 15px
					.der
						padding-right 15px


//------------------------------------------DETAIL----------------------------------------------


.imprimir
	display: none;

#shareM2
#shareM3
	.flex
		display: flex;
		select
			border: 1px solid black
	.modal-dialog.modal-sm
		width: 480px
	.mod__iz
		h3
			color: red
		p
			padding: 0
			text-align: left;
		.boton_mega
			width: 200px
			button
				padding: 1em 2em
	.personal
		width: 100%
	label
		padding: 0
		&:hover
			background: transparent
	textarea
		width: 100%
	.titular
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0.5em
		border-bottom: 1px solid black
		width: 100%;
		.redondo
			margin: 0
			border-radius: 50%
			margin-top: 0 !important
	.dos
		display: flex;
		margin-bottom: 0
		margin-top: 0
		.form-group
			padding 0 0.5em
			p
				margin: 0
			input
				margin: 0
	input[type="radio"]
		display: block;
		position: inherit;
		margin: 0
		width: 60px !important

	.radio
		width: 100%
		display: flex;


#shareM
#shareM2
#shareM3
	border-top 0
	margin-top 0
	padding-top 0
	margin: auto;
	.modal-content
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1em
		a
			color: white;
			padding: 0 1em;
			line-height: 2em;
			margin: 0.1em;
			background: #dd4b39;
			width: 200px
			text-align: center;
			&.facebook
				background: #3b5998;
			&.twitter
				background: #55acee;
			&.share-post .googleplus
				background: #dd4b39;
		.btn
			margin-top: 1em
		input
			width: 100%
		.input-group
			margin-bottom: 10px
.detail
	p
		padding: 0
	.slide3
		img
			height: 350px !important;
			width: auto;
			margin: 0 auto;
	.redes
		display flex
		justify-content flex-end
		padding 0
		margin 0
		padding 0 2em
		img
			width 40px
			height 40px
			margin-left 1em
	.barra
		background barras
		display flex
		justify-content space-between
		align-items center
		margin-top 2em
		padding 0.5em 1em
		font-size 1.2em
		color #337ab7
		strong
			color rojo_oscuro
			margin-left 0.5em
		div
			display flex
			justify-content center
			align-items center
		img
			height 30px
			width 30px
			margin-right 10px
	.page
		padding 1em
		.titulo
			display flex
			align-items center
			border-top 5px solid gris_claro
			border-bottom 2px solid gris_claro
			margin-top 1em
			.glyphicon
				font-size 1.5em
				margin-right 0.5em
			p
				width: 100%
			a
				margin-left 1em
			img
				height 40px
				width 40px
				margin-right 1em
			.dos
				width 100%
				display flex
				justify-content space-between
				padding 0 2em
				h4
					display flex
					strong
						margin-right 1em
		.body
			margin-top 1em
			.box
				margin-bottom 1em
				img
					padding 0
					height 50px
					width 50px
					float left
					margin-right 1em
				.tex
					padding 1em
					box-shadow 2px 2px 5px #999
					display  flex
					justify-content  center
					align-items  center
					p
						margin 0
		.centrar
			display flex
			justify-content center
			align-items center
			.btn
				padding 0
				padding-left 1em
				background azul
				color white
				display flex
				justify-content center
				align-items center
				i
					padding 1em
		form
			margin-top 1em
			.input-group
				margin-bottom 1em
		ul
			list-style none
			padding 0
			margin-top 1em
			font-size 1.2em
		.cont
			margin-top 1em
			.gp
				margin-top 1em
				display flex
				justify-content flex-start
				align-items center
				img
					margin-right 1em
					height 60px
					width 5	0px
		.slide
			display flex
			justify-content center
			flex-direction column
			align-items center
			.thumbnail

				h3
					margin 0
					text-align center
					margin-top -1.06em
					font-size 2em
					background rgba(50,50,50,0.8)
					position relative
					color #fff
					font-weight 200
		.abajo
			flex-direction inherit
			.thumbnail
				width 300px
				margin-right 15px
		.titulos
			display flex
			justify-content space-between
			align-items center
			strong
				color azul
		.photo
			.thumbnail
				border none
				&:hover
					img
						opacity 0.8
			.mini-thumbnail
				padding 0 1em
		.detail
			h1
				text-align center
				color azul
				text-decoration underline
			.more_size
				font-size: 1.5em
			.list
				padding 0 0.5em
				.lista
					li
						display flex
						justify-content space-between
						align-items center
		.des
			font-size 1.2em
			text-align: justify;
		.more-marge
			margin-top: 2em
		iframe
			width 100%

		.box_dealer
			text-align center
			font-size 18px
			border-top 5px solid gris_claro
			border-bottom 2px solid gris_claro
			img
				width 300px
			p
				width: 100%


		.publicidad
			display flex
			justify-content center
			flex-direction column
			padding: 2em 3em 2em 3em
			img
				margin-bottom 1em
				height: 750px

@media print
	.imprimir
		display: block !important;
	.ver
		display: block !important;
	header
	footer
		display: none;
	.detail
		.red
		.barra
			display: none;
		.page
			display: flex !important;
			flex-direction: column !important;
			align-items: center !important;
			justify-content: center !important;
			.titulo
			.slide2
			form
			.body
			.publicidad
			.verde
			iframe
				display: none;
			.slide
				.carousel-control
					display: none;
			.box_dealer
				position: absolute;
				bottom: 100%
				border-top: none
				width: 100%
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				display: none;
				img
					width: 300px
					height: 60px
				.tit
				.cont
					display: flex;
					justify-content: center;
					align-items: center;
//-----------------------------------------------CONTACT--------------------------------------
gris= #ECECEC;

.btn-success
	background: fondo

.contact_us
	padding: 1em
	.email
		padding: 1em
		display: flex;
		align-items: center;
		justify-content: center;
		img
			width: 100px
			height: 100px
		h4
			padding: 0.5em
	.redes
		text-align: center;
		padding: 1em
		.icon
			margin-top: 1em
			display: flex;
			justify-content: center;
			align-items: center;
		img
			height: 50px
			width: 50px
			margin: 2px
	.info
		h3
			margin: 1em
	.titulo
		padding: 0 2em
		h3
			background:fondo
			color: white
			width: 300px;
			padding: 0.1em 0.5em;
			font-size: 1.5em;
			text-align: center;
			border-radius: 10px 10px 0 0
	.cen
		display: flex;
		width: 100%
		button
			margin: auto;
			background: fondo

	form
		background: gris
		padding: 1em
		border-radius: 10px
		margin: 0
	.control-group.form-group
		padding: 0 1em
		input
			margin: 0
//-----------------------------------------------list car--------------------------------------

.top_men
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 2px solid #ddd;
	margin: 10px 0
	padding:10px 0
.pad
	padding:0 3em
	padding-top: 10px

.back
	img
		width: 40px
		height: 40px

ul
	list-style: none;
	padding: 0
	margin: 1em 0
	a
		color: black
		&:hover
			color: fondo
.contacto
	.grupo
		display: flex;
		align-items: center;
		justify-content: center;
		img
			height: 60px
			width: 60px
		p
			width: 200px
			margin: 0
.title_caja
	margin-top: 1em
	font-size: 1.2em
	border-bottom: 2px solid #ddd;
	padding: 0.2em 0;
.title_caja2
	text-align: center;
	background: fondo
	border-bottom: none
	color: white
	padding: 0.5em
.npad
	padding: 0
.mtop
	margin-top: 10px
	textarea
		width: 100%
	.titb
		background: gris_claro
		width: 85px
		padding: 5px
		border-radius: 10px 10px 0 0px
.body__cajas
	margin-top 1em
	.box
		margin-bottom 1em
		img
			padding 0
			height 40px
			width 40px
			float left
		.tex
			padding 1em
			box-shadow 2px 2px 5px #999
			display  flex
			justify-content  center
			align-items  center
			p
				margin 0
				padding: 0
.boton_mega
	display: flex;
	align-items: center;
	justify-content: center;
	color: white
	button
		border-radius: 0
		background: fondo
		border-color: fondo
		padding: 1em 6em
		margin-bottom: 10px
		&:hover
			background: fondo_tran

.barra__car
.right
	display: flex;
	align-items: center;
	justify-content: space-between;
.barra__car
	border-bottom: 2px solid #ddd;
	padding: 0.1em 0.5em;
	margin-bottom: 1em
	.dir
		height: 41px
	img
		height: 40px
		width: 40px
	.btn__caja
		width: 40px
		height: 40px
		margin-left: 1em
	select
		border: 1px solid
		width: auto;
		border-radius: 5px;
		height: 40px;
.box__cajas__cambiar
	padding: 0
	padding-right: 2em

.listado__carros_no
	display: none;

.listado__carros
	.listado__carros_si
		display: none;
	.listado__carros_no
		display: block;
	.car
		margin-bottom: 2em;
		border: solid 1px fondo;
		box-shadow: 4px 4px 5px #999;
		height: 200px;
		margin-left: 1em;
		.col
			margin: 0
			padding: 0
		a
			cursor: pointer;
		.car__img
			position: relative;
			font-size: 2em;
			border-right: solid fondo 0.15em;
			height: 100%;
			img
				width: 100%
				height: 100%
			.favoritos
				position: absolute;
				top: 10px;
				right: 10px;
				color: #808080;
				z-index: 1000;
		.car__info
			padding: 0 20px !important;
			font-size: 1em;
			height: 100px;
			h3
				padding: 10px 0 !important;
				color: fondo;
				height: 50px;
			.car__info-caracteristicas
				height: 100px
				strong
					color: fondo;
					font-size: 0.9em;
					height: 25px;
					white-space: nowrap;
					text-overflow: ellipsis;
				p
					font-size: 0.9em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
			.car__info-description
				height: 100px
				p
					height: 100%;
					margin: 0;
					text-align: justify;
					overflow: hidden;
					text-overflow: ellipsis;
					padding: 0 1em;
			.car__links
				margin-top: 10px !important;
				height: 50px;
		.car__dealer
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0
			h3
				text-align: center;
				padding: 10px 0 !important;
				height: 50px;
			div
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				color: #f00;
				height: 100px;
				width: 100%;
				img
					width: 50px
					height: 50px
			a
				border: 1px solid fondo
				padding: 5px 10px
				border-radius: 5px
				text-align: center;
				&:hover
					background: fondo
					color: white
			.tachar
				text-decoration: line-through;
				color: black
				font-weight: normal;
			strong
				text-decoration: none;
				color: red
.redes__movil
	display: none;
	img
		height: 40px
		width: 40px
.modal
	z-index: 20000


::-webkit-inner-spin-button { display: none; }


@media print
	.top_men
	.pad
	.barra__car
	.redes__movil
	.pagination
	.btn_det
		display: none !important;
	.box__cajas__cambiar
		margin-bottom: 150px !important
	.in
		margin-bottom: 20px

@media (max-width: 1256px)
	.listado__carros
		.car__dealer
			div
				height: 50% !important

@media (max-width: 1152px)
	.redes__movil
		display: block;
	.barra__car
		.right
			display: none;
		.redes
			display: none;
	.listado__carros
		.listado__carros_no
			display: none;
		.listado__carros_si
			display: block;
//--------------------------------------css de la caja de los carros---------------------------------------------
.content
	.cars
		max-width 1366px
		margin auto
		margin-top 2em
		.carro
			margin-bottom 3em
			.thumbnail
				max-width 100%
				border 0
				box-shadow none
				a
					background transparent
					padding 0
					img
						height 200px
				.caption
					border-bottom 0
					height 100%
					padding-left 0
					padding-right 0
					.texto
						text-align left
						padding-left 0
						a
							h4
								color black
								text-align left
					.price
						text-align center !important
						padding: 1px !important;
						text-decoration: none !important;
						color: white !important;
						font-weight: bold !important;
						text-shadow: 0 1px 0 fondo !important;
						line-height: 56px !important;
						border-left: 12px solid transparent !important;
						border-bottom: 35px solid fondo !important;
						height: 0 !important;
						display: inline-block !important;
						.dos
							display flex
							margin-top 0
							margin-bottom 0
						h4
							color white
							font-size 18px
					.price2
						border-left: 18px solid transparent;
						border-bottom: 70px solid fondo;
					.detail
						padding 0
						border-bottom 1px solid gris_oscuro2
						a
							color fondo
							text-align right
							p
								margin-bottom 0
					.extra
						padding 0
						h5
							color gris_oscuro2
							width 100%
		.carro.special
			.thumbnail
				.caption
					.price
						margin-top 0
						.special
							font-size 12px
							text-decoration line-through

/*---------------------------------------OUR TEAM----------------------------------------------------*/
.our
	.tit
		color: fondo
		margin-top: 10px
		border: 1px solid #c6c6c6;
		padding: .431em;
		border-right: none;
		border-left: none;
		font-size: 1.45em;
		font-weight: 700;
	.cajas
		padding: 10px
		margin: 0
		background: white
	.caja
		background-color: #ececec;
		padding: .625em;
		border: 1px solid #c6c6c6;
		//margin-left: 18px
		//margin-top: 10px
		display: flex;
		border-radius: 10px
		.info
			width: 100%
			.tit
				margin: 0
				border-top: none
				color: black
			p
				padding: 0
				padding-left: 10px
		.img
			background: white
			border: 1px solid #c6c6c6;
			padding: 10px
			max-width: 154px
			img
				height: 170px

/*--------------------------------BLOG------------------------------------------*/

.blog
	a
		background: transparent !important
	.thumbnail a:hover
		background: transparent !important
	.no_ver
		display: none;
	border: 1px solid gris_claro
	padding: 0
	border-radius: 5px
	font-size: 16px
	.back
		text-align: right;
		img
			width: 40px
			height: 40px
	.date
		padding: 0.5em
		border-top: 1px dashed gris_claro
		border-bottom: 1px dashed gris_claro
	img
		width: 100%
	.thumbnail
		border-radius: 0
		border: none
		border-bottom: 1px solid gris_claro
		margin:0.5em
		padding: 0.5em 0
		box-shadow: none
		max-width: 100%
	.pl
		padding-left: 0
	.caption
		border-bottom: none
		text-align: left ;
		height: 60px;
		font-weight: 0;
		a
			width: 100%;
			color: fondo;
			background: white;
			padding: 0;
			text-align: left ;
			font-size: 1em;
			font-weight: none;
			&:hover
				color: reverse(fondo)
		.date
			padding: 0.5em
			border-top: 1px dashed gris_claro
			border-bottom: 1px dashed gris_claro
		h3
			margin: 0
		h5
			color: rojo_vino
		i
			color: gris_claro
			margin-right: 0.5em

.blog__buscadors
	padding: 0 2em
	.btn
		background: fondo
		color: reverse(fondo)
	.cajas
		border-radius: 5px
		border: 1px solid gris_claro
		margin-bottom: 1em
		background: white
		h4
			text-align: left;
		a
			width: 100%;
			color: fondo;
			background: white;
			padding: 0;
			text-align: left ;
			font-size: 1em;
			font-weight: 0;
		form
			padding: 0.5em 0 1.5em 1.5em

			.pl
				padding-left: 0
			.pr
				padding-right: 0
			input
				width: 100%
				height: 34px
				font-size: 16px
				padding: 5px 10px
				background: white;
				border: 1px solid black;
				margin-top: 0;
				margin-bottom: 0;
				margin-left: 0;
				&::-webkit-input-placeholder { color: gris_claro; } /* WebKit */
				&:-moz-placeholder { color: gris_claro; } /* Firefox 18- */
				&::-moz-placeholder { color: gris_claro; } /* Firefox 19+ */
				&:-ms-input-placeholder { color: gris_claro; } /* IE 10+ */
			.btn
				border-radius: 0
		.thumbnail
			border-radius: 0
			border: none
			border-bottom: 1px solid gris_claro
			margin:0.5em
			padding: 0.5em 0
			box-shadow: none
			img
				width: 100%
		.pl
			padding-left: 0
			padding-right: 0
		.caption
			border: none
			text-align: left;
			h4
				margin: 0
			h5
				color: rojo_vino
			i
				color: gris_claro
				margin-right: 0.5em

.row
	margin-left: 0
	margin-right: 0

.blog__encabezado
	margin-top: 2em
	padding-left: 2em
	.tit
		padding: 0.5em 1em
		margin: 0
		background: gris_claro
		width: 100%
		margin-bottom: 1em
		font-size: 16px

.pagination
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px !important
	color: fondo

	.btn-success
		font-size: 20px !important
		background: azul_marino !important

/*--------------------------------------------TESTIMONIAL-------------------------------------------------*/
.testimonial
	margin-bottom: 2em
	p
		text-align: center;
	.start
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px
		div
			border-bottom: 3px solid fondo
		.glyphicon
			color: gris_claro
			font-size: 14px
		.glyphicon.active
			color: yellow

	.tes
		text-align: center;
		color: gris_oscuro2
		font-size: 16px
		display: flex;
		align-items: center;
		justify-content: center;
		p
			width: 600px
	h2
		text-align: center;
	h4
		text-align: center;
		color: fondo
	.carousel-indicators
		display: none
	.carousel-inner>.item>img
		width: 60px;
		height: 60px;
		margin: auto;
		border: 2px solid gris_claro;
		border-radius: 50%;
	.carousel-control
		border: 4px solid gris_claro
		border-radius: 50%;
		height: 60px;
		width: 60px
		.glyphicon
			top 20px
			color: gris_claro
		.glyphicon-chevron-left
			left: 22px
		.glyphicon-chevron-right
			left: 10px


//----------------------------------------Sell or Trade------------------------------------------------
header
	 .navbar-inverse.sell_or_trade
		 background: gris_claro
		 border-bottom: 0
		 padding-top: 0
		 padding-bottom: 10px
		.navbar-nav
			li
				border-left: 1px solid gris_oscuro2
				color: black !important
				a
					padding: 5px 10px !important
					color: black !important
					&:hover
						background: gris_oscuro2 !important
						color: white !important
//--------------------------------------------------------------------- template sell or trade

.trade
	max-width 1366px
	margin auto
	.title
		border-bottom 1px solid gris_oscuro2
		margin-top 10px
	.sub_title
		.imagen
			img
				width 100%
		.texto
			h2
				margin-top 1em
	.formulario
		.titulo
			background fondo
			border-radius 10px 10px 0 0
			margin-left 2em
			h4
				text-align center
				color white
		.caja
			border 2px solid gris_claro
			border-radius 10px
			margin-bottom 2em
			select
			input
				margin-left 0px
				width 100%
				border-radius 5px
			h4
				height 10px
			.tres
				.izq
					padding-left 0
				.der
					padding-right 0

@media (max-width: 767px)
	.trade
		.formulario
			.caja
				.tres
					.izq
						padding-left 15px
					.der
						padding-right 15px
//-----------------------------------------------------------------special
.specials
	margin-top 2em
	.email
		display: flex;
		align-items: center;
		justify-content: center;
		.titulo
			font-size 20px
			font-weight 900
		img
			width: 100px
			height: 100px
		h4
			padding: 0.5em
	.redes
		text-align: center;
		padding: 1em
		.titulo
			font-weight 700
		.icon
			margin-top: 1em
			display: flex;
			justify-content: center;
			align-items: center;
		img
			height: 50px
			width: 50px
			margin: 2px
		.redes
			font-weight 700
	.info
		h3
			margin: 1em
	.titulo
		h3
			background:fondo
			color: white
			width: 300px;
			padding: 0.1em 0.5em;
			font-size: 1.5em;
			text-align: center;
			border-radius: 10px 10px 0 0
	.cen
		button
			width 100%
			background: fondo
			border 1px solid fondo
			padding 0.5em
	form
		margin-top 0
		margin-bottom 10px
		.input-group
			width 100%
			margin-bottom 10px
			textarea
				width 100%
				border-radius 5px
				border 1px solid gris_claro
	.borde
		border-bottom 1px solid gris_claro
		margin-bottom 1em
	.cars
		margin-top 0
	.call
		.imagen
			img
				width 100%
				height 80px
		.texto
			margin-top 5px
			h4
				color fondo
	.carros
		text-align center
		h4
			color gris_oscuro2
			font-weight 600
		img
			width 100%
			height 180px
		a

			h4
				color azul_claro
//---------------------- Calculator----------------------------
.content_cal
	//margin: auto;
	max-width: 320px
	p
		position: inherit;
		color: black
	.calc_info
		margin-top: 5px
		padding: 10px
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #c6c6c6;
		background-color: #fff;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5));
		background-image: -webkit-linear-gradient(top,#fff,#e5e5e5);
		background-image: -moz-linear-gradient(top,#fff,#e5e5e5);
		background-image: -ms-linear-gradient(top,#fff,#e5e5e5);
		background-image: -o-linear-gradient(top,#fff,#e5e5e5);
	.tabbed_top-header
		color: #fff;
		height: 18px;
		font-size: 16px
		line-height: 18px;
		text-align: center;
		font-family: Arial,Helvetica,sans-serif;
		font-weight: 700;
		background: fondo
		border-radius: 5px 5px 0 0
		margin: 0
	.form fieldset
		padding: 5px
		border: 1px solid #c6c6c6;
		background-color: #ececec;
		border-radius: 0 0 5px 5px;
		input
		select
			width: 100%
			margin: 0
			border: 1px solid black
			background: white
		.calculate_button
			margin-top: 5px
			border none
			background: fondo
			color white


//---------------------Pre approved
.approved
	margin: auto;
	margin-top: 10em
	max-width: 320px
	///height: 465px
	#con2
	#con3
		display none
	.cont
		background-color: rgba(0,0,0,1);
		border: 5px solid #2d54a8;
		padding: 10px 20px
		height: 600px
		.btn-next
			background: #2d54a8;
			border: none;
			padding 10px
			font-size: 18px;
			color: #FCFCFC;
			position: relative;
			margin-top: 10px
			text-decoration none
			&:hover
				color: black
			&:disabled
				background: #8BB5DA
				&:hover
					color: white
		i
			background:#2d54a8;
			color: #76ff03
			padding: 10px
			font-size: 18px;
			top: 0px
			margin-left: 10px
			display: none;
		h2
			color: #FCFCFC;
			line-height: 22px;
			font-size: 22px;
			margin-bottom: 10px;
		h3
			color: #3C75E0;
			font-size: 15px;
			margin-bottom: 10px;
			line-height: 15px;
			font-weight: normal;
		input
			margin: 5px 0
			width: 100%
			padding: 5px
			background: white
			border none
		select
			border none
		label
		span
			color: white
			margin-right: 10px
			width: 160px
		.radio.inline
			display: flex;
			width: 100%
			margin: 0
			font-size: 12px
			input
				width:  45px
		.radio.inline.check
			input
				width:  22px
		.control-group.control2
			justify-content: flex-start;
		.control-group
			display: flex;
			justify-content: center;
			align-items: center;
			.selt
				width: 100%
			.input.error
				width: 160px
			input
				width: 45%
				margin-left: 10%
			select
				width: 45%
				height: 34px
				margin:  5px 0
				background: white
