{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<script>
  setTimeout(function(){menu("#become_a_dealer")},500);
</script>
<div class="row contenedor__slider become_slide"></div>
<div class="row become">
  <div class="banner visible-lg visible-md" style="margin-top:9em;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="adaptar" src="/static/images/slider.jpg" alt="slide">
        <div class="texto principal">
            <h1>Conviértase en un distribuidor.</h1>
            <h4>Cuenta con una selección de plantillas para su sitio web.</h4>
        </div>
      </div>
      <div class="item">
        <img class="adaptar" src="/static/images/slider2.jpg" alt="slide">
        <div class="texto">
            <h1>Bienvenido a nuestro</h1>
            <h1>concesionario de coches.</h1>
            <h4>La próxima generación de</h4>
            <h4>información automotriz</h4>
            <h4>para impulsar su negocio hacia adelante.</h4>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
    <div class="charact_princ row">
        <h3 class="col-sm-12 text-center title title_princ_charact">Características principales del sitio web.</h3>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa  fa-mouse-pointer fa-lg"></i> Usted es dueño de su dominio.</h4>
            <p>Transfiere o compra tu dominio exclusivo. Es tuyo para guardar!</p>
        </div>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa  fa-mobile fa-lg"></i> Adaptable a tu teléfono</h4>
            <p>Su sitio web se adaptará automáticamente a cualquier dispositivo de escritorio o móvil.</p>
        </div>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa fa-pie-chart fa-lg"></i> Ancho de banda ilimitado.</h4>
            <p>Administre visitantes ilimitados sin preocuparse por el rendimiento de su sitio.</p>
        </div>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa fa-share-square-o fa-lg"></i> Integración de los medios sociales.</h4>
            <p>Deje que sus clientes compartan y sigan a su concesionario en los medios sociales más populares.</p>
        </div>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa fa-life-ring fa-lg"></i> Tecnología SEO inteligente.</h4>
            <p>Potente tecnología para ayudar a los motores de búsqueda a encontrar su inventario y concesionario.</p>
        </div>
        <div class="col-sm-4 caja zoom">
            <h4><i class="fa fa-check-circle-o fa-lg"></i> Confiabilidad del sitio web.</h4>
            <p>Desarrollado por un servidor dedicado y confiable para proporcionar un rendimiento del 99% de tiempo de actividad.</p>
        </div>

        <div class="col-sm-4 caja zoom">
            <h4><i class="fa fa-desktop fa-lg"></i> Diseño web profesional.</h4>
            <p>Nuestro equipo de diseñadores web profesionales siempre están trabajando para que usted pueda entregar diseños únicos.</p>
        </div>
    </div>
    <div class="row charact_backend">
        <h3 class="col-sm-12 text-center title title_charact_backend">Principales características del backend.</h3>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajab">
                <i class="fa fa-car fa-5x"></i>
                <h3>La gestión del inventario.</h3>
                <p>Herramientas de clasificación y publicación de gestión de inventario fáciles de usar.</p>
            </div>
        </div>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajag">
                <div class="">
                    <i class="fa fa-car fa-3x"></i>
                    <i class="fa fa-car fa-5x"></i>
                    <i class="fa fa-car fa-3x"></i>
                </div>
                <h3>Inventario ilimitado.</h3>
                <p>Si usted es un pequeño o gran distribuidor, Doncarro.com lo tiene cubierto.</p>
            </div>
        </div>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajag">
                <i class="fa fa-camera-retro fa-5x"></i>
                <h3>Carga de imágenes en bloque.</h3>
                <p>Nuestro equipo de diseñadores web profesionales siempre están trabajando para que usted pueda entregar diseños únicos.</p>
            </div>
        </div>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajag">
                <i class="fa fa-line-chart fa-5x"></i>
                <h3>Seguidor de ventas.</h3>
                <p>Encuentra y rastrea fácilmente los vehículos vendidos. Busque información de unidades vendidas en su backend</p>
            </div>
        </div>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajab">
                <i class="fa fa-users fa-5x"></i>
                <h3>Multi Usuarios.</h3>
                <p>Agregar y hacer que su personal trabaje en colaboración para lograr metas de administración y ventas.</p>
            </div>
        </div>
        <div class="col-sm-4 caja_backend zoom">
            <div class="cajab">
                <i class="fa fa-cloud fa-5x"></i>
                <!--<img src="/static/images/Secure Cloud platform.png">-->
                <h3>Plataforma Secure Cloud.</h3>
                <p>Asegura y respalda sus datos cada 24 horas para minimizar la pérdida de datos.</p>
            </div>
        </div>
    </div>
    <div class="row web_design">
        <h3 class="text-center col-xs-12 title">Diseños de sitios web</h3>
        <h4 class="text-center col-xs-12">Deslumbrar a sus visitantes con <span style="color:#d8d96b">20 diseños</span> increíbles y únicos del Web site.</h4>
        <div class="templates">
            {%for theme in all_themes%}
            <div class="contain-caja-template col-md-3 col-sm-12 col-xs-12 zoom">
                <div class="caja-template">
                    <img src="{{theme.image.url}}">
                    <div class="centrar">
                        <p>{{theme.name}}</p>
                        <button type="button" class="btn btn-default" onclick="Demo('{{theme.name}}')"";'">Demo</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row packets_prices">
        <div class="row">
            <h3 class="text-center col-sm-12 title">Precios y paquetes</h3>
            <h4 class="col-xs-12 text-center">¿Necesita ayuda para seleccionar un paquete? Llámenos al 305-677-2991 y déjenos guiarle en su mejor opción.</h4>
        </div>
        <div class="row cajasprecios">
          {%for plan in plans%}
            <div class="col-lg-2 col-sm-6 col precios zoom">
                <div class="precio advantage">
                    <img src="{{plan.image.url}}">
                </div>
                <div class="beneficios novato">
                    <h4 class="mayus">cantidad de vehiculos a publicar</h4>
                    <h4 class="novato capit">{{plan.number_of_cars}} vehiculos</h4>
                    <h4 class="capit">promocion super portada primer mes</h4>
                    <h4 class="mayus novato">gratis</h4>
                    <h4 class="mayus">precios mensuales</h4>
                    <div class="boton novato">
                        <a href="#">
                            <h4 style="background-color: #f9c032"><span>$RD</span> {{plan.price}}</h4>
                        </a>
                    </div>
                    <h4 class="mayus nota">itbis incluidos</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <section class="contact-gradient">
        <h3 class="col-xs-12 text-center title">Contáctenos</h3>
        <form name="sentMessage" id="contactForm" novalidate class="row">
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon "><i class="fa fa-user fa-fw red" aria-hidden="true"></i></span>
                        <input placeholder="Nombre" type="text" class="form-control" id="name" required data-validation-required-message="required.">
                    </div>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon "><i class="fa fa-user fa-fw red" aria-hidden="true"></i></span>
                        <input  placeholder="Apellido" type="text" class="form-control" id="name2" required data-validation-required-message="required.">
                    </div>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw red" aria-hidden="true"></i></span>
                        <input placeholder="Correo" type="Email" class="form-control" id="email" required data-validation-required-message="required.">
                    </div>

                </div>
            </div>
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw red" aria-hidden="true"></i></span>
                        <input placeholder="Telefono" type="tel" class="form-control" id="phone" required data-validation-required-message="required.">
                    </div>
                </div>
            </div>
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon "><i class="fa fa-user fa-fw red" aria-hidden="true"></i></span>
                        <input placeholder="Nombre del vendedor" type="text" class="form-control" id="dealer" required data-validation-required-message="required.">
                    </div>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group col-sm-6 col">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span style="font-size: 17px" class="input-group-addon "><i class="glyphicon glyphicon-globe red" aria-hidden="true"></i></span>
                        <input placeholder="Sitio Web actual" type="text" class="form-control" id="web" required data-validation-required-message="required.">
                    </div>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group " style="padding: 0 1em;">
                <div class="controls">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw red" aria-hidden="true"></i></span>
                        <textarea placeholder="¿Cómo podemos ayudarle?" rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
            </div>
            <div id="success"></div>
            <div class ="cen">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </section>
</div>
<script  type="text/javascript">
function Demo(url) {
  var win = window.open('/dealer/' + url, '_blank');
  win.focus();
}
</script>
{% endblock %}
