{% extends 'base/base_backend.html' %}
{% load replace %}
{% block content %}
<script type="text/javascript">
function _delete(id){
      url = "/dashboard/blog/delete?id=" + id
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 201){
          location.reload();
        }
      };
      xmlHttp.open("GET", url, true);
      xmlHttp.send(null);
  }
  function _published(id){
        url = "/dashboard/blog/published?id=" + id
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 201){
            location.reload();
          }
        };
        xmlHttp.open("GET", url, true);
        xmlHttp.send(null);
    }
</script>
<div class="conten">
  {%if not error%}
  <div class="barra arriba">
    <h2>{{blog_name}}</h2>
    <button type="button" class="btn btn-primary" onclick="javascript:window.open('/dashboard/blog/new/{{blog_name|replace}}', '_self');">Crear articulo</button>
    <div class="contenedor_tabla">
      <table class="table table-hover table-responsive">
        <thead>
          <tr  class="primary">
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Publicado</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {%for article in articles%}
          <tr>
            <td><a href="/dashboard/blog/new/{{article.id}}" class="line">{{article.title|slice:"50"}}{%if article.title|length > 49%}...{%endif%}</a></td>
            <td><p>{{article.content|slice:"80"}}{%if article.content|length > 79%}...{%endif%}</p></td>
            <td>{{article.created_at}}</td>
              <td><a href="#" onclick="_published({{article.id}})" >
                {%if article.published%}
                  <i class="fa fa-check-square-o green"></i>
                {%else%}
                  <i class="fa fa-square-o green"></i>
                {%endif%}
              </a></td>
            <td><a href="/dashboard/blog/new/{{article.id}}"><i class="fa fa-edit blue"></i></a></td>
            <td><a href="#" onclick="_delete({{article.id}})" ><i class="fa fa-trash red"></i></a></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
    <h1>{{error}}</h1>
  {% endif %}
</div>
{% endblock %}
