{%load static%}
<div class="container">
  <div class="modal fade" id="maps_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>¿Cómo agregar la latitud y longitud?</h4>
        </div>

        <div class="modal-body">
          <div class="panel">
            <div class="panel-body">
              <div class="row">
                <span>Para agregar la dirección exacta de su vehículo vaya a <a href="https://maps.google.com">google maps</a></span>
              </div>
              <div class="row">
                <span>Busque la ubicación</span>
                <img height="300" width="550" src="{%static 'images/maps1.png'%}" alt="Primer paso para agregar la latitud y longitud">
              </div>
              <div class="row">
                <span>Seleccione la opción <i>¿Qué hay aqui?</i></span>
                <img src="{%static 'images/maps2.png'%}" alt="Segundo paso para agregar la latitud y longitud">
              </div>
              <div class="row">
                <span>El primer número bajo la dirección es la latitud y el segundo la longitud</span>
                <img src="{%static 'images/maps3.png'%}" alt="Tercer paso para agregar la latitud y longitud">
              </div>
          </div>
      </div>
        </div>
      </div>

    </div>
  </div>
  </div>
