{% extends 'base/base.html' %}
{% block content %}
	<div class="page-outer">
		<div class="content-sitemap">
			<div class="sitemap">
					<h1>Site Map</h1>
					<ul><li><a href="http://cars4driver-keeeevin.rhcloud.com/"><span class="title">This is a test</span></a>
					<ul><li><a href="http://cars4driver-keeeevin.rhcloud.com/become"><span class="title">cars4drivers</span></a>
					<ul><li><a href="http://cars4driver-keeeevin.rhcloud.com/jobs_at_cars4drivers"><span class="title">Who are we?</span></a>
					</li></ul></li><li><a href="http://cars4driver-keeeevin.rhcloud.com/find_local_dealer"><span class="title">Find Local Dealer</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/detail/2/"><span class="title">Share</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/sell"><span class="title">Sell your car for free</span></a>
					<ul><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/"><span class="title">cars4drivers</span></a>
					<ul><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Sedan/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Luxury_Cars/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Coupe/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Van_minivan/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Hatchback_Wagos/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Commercial_Cars/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Hybrid_Electric/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Sportcar/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/SUV_s/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Crossover/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Convertible/"><span class="title">Cars4Drivers.com</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/create_listing/Pick_up_trucks/"><span class="title">Cars4Drivers.com</span></a>
					</li></ul></li></ul></li><li><a href="http://cars4driver-keeeevin.rhcloud.com/contact_us"><span class="title">Contact Us</span></a>
					</li><li><a href="http://cars4driver-keeeevin.rhcloud.com/advance"><span class="title">Customize your search specific detaills</span></a>
					</li></ul></li></ul><!--<guid value="411257f3-adb3-4d70-8b35-295582b923fc" />--><!--Created using XmlSitemapGenerator.org - Free HTML, RSS and XML sitemap generator-->
			</div>
		</div>
	</div>
{% endblock %}
