header.row .head {
  background: #7f7f7f;
}
header.row .head .page-outer.row {
  max-width: 1366px;
  margin: auto;
}
header.row .head .page-outer.row .logotipo a.logo {
  text-decoration: none;
  width: 100%;
}
header.row .head .page-outer.row .logotipo a.logo img {
  height: 90px;
}
header.row .head .page-outer.row .redes {
  padding: 2em;
}
header.row .head .page-outer.row .redes a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header.row .head .page-outer.row .redes a i {
  margin-bottom: 10px;
}
header.row .head .page-outer.row .redes a:hover {
  color: #c4d81b !important;
}
header.row .head .page-outer.row .info {
  padding: 2em;
  text-align: right;
}
header.row .head .page-outer.row .info i {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
header.row .head .page-outer.row .info i.direccion {
  font-size: 15px;
}
.row.max {
  max-width: 1366px;
  margin: auto;
}
.row.max .financing {
  padding: 1em;
}
.row.max .financing a {
  text-decoration: none;
  cursor: pointer;
}
.row.max .financing .title {
  text-align: center;
  color: #c4d81b;
}
.row.max .financing .from_financing,
.row.max .financing max-width 1550px,
.row.max .financing margin auto,
.row.max .financing margin-top 2em,
.row.max .financing form {
  width: 100%;
}
.row.max .financing .barra {
  width: 100%;
  margin-bottom: 1em;
  background: #ddd;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}
.row.max .financing .barra h4 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #000;
}
.row.max .financing .barra span {
  background: #c4d81b;
  padding: 5px;
  color: #fff;
  text-align: right;
  border-radius: 5px;
  margin-right: 0.5em;
}
.row.max .financing .caja {
  margin-bottom: 1em;
}
.row.max .financing .caja h4 {
  height: 25px;
}
.row.max .financing .caja textarea,
.row.max .financing .caja input,
.row.max .financing .caja select {
  border: 1px solid #c4d81b;
  background: #fff;
  border-radius: 5px;
  margin-left: 0;
}
.row.max .financing .caja .title.l {
  width: 25%;
}
.row.max .financing .caja .title {
  margin-left: 10px;
  margin-top: 0;
  background: #c4d81b;
  width: 20%;
  border-radius: 5px 5px 0 0;
}
.row.max .financing .caja .title h3 {
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  text-shadow: none;
  margin-bottom: 0;
}
.row.max .financing .caja .Referral,
.row.max .financing .caja .Vehicle,
.row.max .financing .caja .Contact,
.row.max .financing .caja .Personal,
.row.max .financing .caja .Previous,
.row.max .financing .caja .Employment,
.row.max .financing .caja .Disclaimer,
.row.max .financing .caja .Employer,
.row.max .financing .caja .Information {
  background: #ddd;
  padding: 5px 1em 5px 1em;
  border-radius: 5px;
}
.row.max .financing .caja .Referral input {
  width: 100%;
}
.row.max .financing .caja .Vehicle select {
  width: 33%;
}
.row.max .financing .caja .Vehicle input {
  width: 50%;
}
.row.max .financing .caja .Contact .tres {
  display: flex;
}
.row.max .financing .caja .Contact .tres .info {
  width: 33%;
  margin-right: 10px;
}
.row.max .financing .caja .Contact .tres .info input {
  width: 100%;
}
.row.max .financing .caja .Contact .dos {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.row.max .financing .caja .Contact .dos .info {
  width: 50%;
}
.row.max .financing .caja .Contact .dos .info input {
  width: 31%;
}
.row.max .financing .caja .Contact .dos .info .end {
  width: 35%;
}
.row.max .financing .caja .Contact .dos .info1 {
  width: 50%;
  margin-right: 5px;
}
.row.max .financing .caja .Contact .dos .info1 input {
  width: 100%;
}
.row.max .financing .caja .Contact .dos .info1 .dos .info {
  margin-right: 5px;
}
.row.max .financing .caja .Personal .tres {
  display: flex;
}
.row.max .financing .caja .Personal .tres .info {
  margin-right: 10px;
  width: 33%;
}
.row.max .financing .caja .Personal .tres .info input {
  width: 100%;
}
.row.max .financing .caja .Personal .tres .info .tres input {
  margin-right: 10px;
}
.row.max .financing .caja .Personal .cuatro {
  display: flex;
}
.row.max .financing .caja .Personal .cuatro .info {
  margin-right: 10px;
  width: 25%;
}
.row.max .financing .caja .Personal .cuatro .info input,
.row.max .financing .caja .Personal .cuatro .info select {
  width: 100%;
}
.row.max .financing .caja .Previous .dos {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.row.max .financing .caja .Previous .dos .info {
  width: 50%;
  margin-right: 1em;
}
.row.max .financing .caja .Previous .dos .info input {
  width: 100%;
}
.row.max .financing .caja .Previous .cuatro {
  display: flex;
}
.row.max .financing .caja .Previous .cuatro .info {
  width: 25%;
  margin-right: 1em;
}
.row.max .financing .caja .Previous .cuatro .info select,
.row.max .financing .caja .Previous .cuatro .info input {
  width: 100%;
}
.row.max .financing .caja .Employment .tres {
  display: flex;
}
.row.max .financing .caja .Employment .tres .info {
  margin-right: 1em;
  width: 33%;
}
.row.max .financing .caja .Employment .tres .info input {
  width: 100%;
}
.row.max .financing .caja .Employment .tres .info1 {
  margin-right: 1em;
  width: 33%;
}
.row.max .financing .caja .Employment .tres .info1 input {
  width: 30%;
}
.row.max .financing .caja .Employment .tres .info1 .end {
  width: 35%;
}
.row.max .financing .caja .Employment .cuatro {
  display: flex;
}
.row.max .financing .caja .Employment .cuatro .info {
  width: 25%;
  margin-right: 1em;
}
.row.max .financing .caja .Employment .cuatro .info input {
  width: 100%;
}
.row.max .financing .caja .Employment .uno {
  width: 100%;
}
.row.max .financing .caja .Employment .uno textarea {
  width: 100%;
  height: 100px;
}
.row.max .financing .caja .Employer .dos {
  margin: 0;
  display: flex;
}
.row.max .financing .caja .Employer .dos .info {
  margin-right: 1em;
  width: 50%;
}
.row.max .financing .caja .Employer .dos .info input {
  width: 100%;
}
.row.max .financing .caja .Employer .dos .info1 {
  margin-right: 1em;
  width: 50%;
}
.row.max .financing .caja .Employer .dos .info1 input {
  width: 32%;
}
.row.max .financing .caja .Employer .tres {
  display: flex;
}
.row.max .financing .caja .Employer .tres .info {
  width: 33%;
  margin-right: 1em;
}
.row.max .financing .caja .Employer .tres .info select,
.row.max .financing .caja .Employer .tres .info input {
  width: 100%;
}
.row.max .financing .caja .Information .tres {
  display: flex;
}
.row.max .financing .caja .Information .tres .info {
  width: 31%;
  margin-right: 1em;
}
.row.max .financing .caja .Information .tres .info input {
  width: 100%;
}
.row.max .financing .caja .Information .tres .info1 {
  width: 31%;
  margin-right: 1em;
}
.row.max .financing .caja .Information .tres .info1 input,
.row.max .financing .caja .Information .tres .info1 select {
  width: 31%;
}
.row.max .financing .caja .Information .dos {
  display: flex;
  margin: 0;
}
.row.max .financing .caja .Information .dos .info {
  margin-right: 1em;
  width: 50%;
}
.row.max .financing .caja .Information .dos .info input,
.row.max .financing .caja .Information .dos .info select {
  width: 100%;
}
.row.max .financing .caja .Information .dos .info1 {
  margin-right: 1em;
  width: 50%;
}
.row.max .financing .caja .Information .dos .info1 input {
  width: 30%;
}
.row.max .financing .caja .Information .uno input {
  width: 95%;
}
.row.max .financing .caja .Information .cuatro {
  display: flex;
}
.row.max .financing .caja .Information .cuatro .info {
  width: 24%;
  margin-right: 1em;
}
.row.max .financing .caja .Information .cuatro .info input,
.row.max .financing .caja .Information .cuatro .info select {
  width: 100%;
}
.row.max .financing .caja .Information .cuatro .info h4 {
  height: 40px;
}
.row.max .financing .caja .Disclaimer .checkbox label {
  width: 200px;
  padding-bottom: 0;
  padding-top: 0;
}
.row.max .financing .no_view {
  display: none;
}
.row.max .financing .view {
  display: block;
}
.row.max .financing .boton {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.row.max .financing .boton a {
  background: #56d181;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 5px;
}
.row.max .centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row.max .centrar .btn {
  padding: 0;
  padding-left: 1em;
  background: #c4d81b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row.max .centrar .btn i {
  padding: 1em;
}
.row.max .navbar-inverse.principal {
  background-color: transparent;
  border-color: rgba(255,255,255,0.9);
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0;
}
.row.max .navbar-inverse.principal .page-outer {
  margin-top: 10px;
  max-width: 1366px;
  margin: auto !important;
  width: 100%;
  background: transparent;
  display: flex;
}
.row.max .navbar-inverse.principal a {
  color: #fff !important;
  font-size: 1.2em;
}
.row.max .navbar-inverse.principal .active a {
  background-color: #b1bb5b !important;
  border-color: #b1bb5b !important;
  color: #fff !important;
}
.row.max .navbar-inverse.principal li {
  background: #c4d81b;
  margin-bottom: 5px;
}
.row.max .navbar-inverse.principal li a:hover {
  background-color: #b1bb5b !important;
  border-color: #b1bb5b !important;
  color: #fff !important;
}
.row.max .navbar-inverse.principal .navbar-brand {
  padding: 0;
  margin-left: 0em;
}
.row.max .navbar-inverse.principal .navbar-brand img {
  width: 320px;
  height: 90px;
  margin-top: -0.9em;
}
.row.max .navbar-inverse.principal .navbar-right {
  margin-right: 0;
}
.row.max .navbar-inverse.principal .collapse {
  width: 100%;
  padding: 0;
}
.row.max .navbar-inverse.principal .sign-in_sign-up {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #337ab7;
  border: 0px;
  background: transparent;
}
.row.max .navbar-inverse.principal .navbar-nav {
  display: flex;
  flex-direction: column;
  line-height: 60px;
  margin: 0;
  margin-top: 0.3em;
  white-space: nowrap;
  width: 100%;
}
.row.max .navbar-inverse.principal .navbar-nav>li>a {
  padding: 1.5em !important;
  text-align: center;
}
.row.max .navbar-inverse.principal .navbar-nav>.open>a {
  background-color: rgba(180,56,73,0.7) !important;
  color: #fff !important;
}
.row.max .navbar-inverse.principal .navbar-toggle {
  background-color: #006e9e !important;
}
.row.max .navbar-inverse.principal .navbar-toggle:hover {
  background-color: rgba(180,56,73,0.7) !important;
}
footer {
  width: 100%;
  color: #fff !important;
  background-color: #f5f5f5;
}
footer .top {
  background: #fff url("/static/images/footer.png") no-repeat center center;
  width: 100%;
  height: 450px;
  background-size: cover;
  max-width: 1550px;
  margin: auto;
  margin-bottom: -150px;
}
footer .top .contact {
  background: #f00;
  bottom: 10%;
  left: 10%;
}
footer .top .redes {
  background: #f00;
  bottom: 10%;
  right: 10%;
}
footer .footer-above {
  background-color: #021739;
}
footer .footer-above .container {
  width: 100%;
  padding: 2em 0;
}
footer .footer-above .container .footer-col h3 {
  margin: 1em 0;
}
footer .footer-above .container .footer-col .cont {
  display: inline-block;
  margin: 0 auto;
}
footer .footer-above .container .footer-col .cont div {
  text-align: left;
}
footer .footer-above .container .footer-col .cont div span {
  text-align: left;
}
footer .footer-above .container .footer-col .cont .lo {
  text-align: center;
  margin-top: 10px;
}
footer .footer-above .container .footer-col ul {
  margin: 1em 0;
}
footer .footer-above .container .footer-col ul .redes {
  font-size: 2em;
  padding: 0.4em;
}
footer .footer-above .container .footer-col ul .redes:hover {
  color: #b43849;
}
footer .footer-above .container .footer-col .become {
  font-size: 3em;
  color: #b43849;
}
footer .footer-above .container .footer-col .become:hover {
  color: #006e9e;
}
footer .footer-below {
  background: radial-gradient(#585757 15%, transparent 16%) 0 0, radial-gradient(#585757 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background-color: #676565;
  background-size: 16px 16px;
}
footer .footer-below #fecha {
  font-weight: normal;
}
footer .footer-below .titulo {
  color: #4ea1b3;
  margin-bottom: 3px;
  margin-top: 1em;
  padding: 10px 0px 6px;
  border-bottom: 1px solid #4ea1b3;
}
footer .footer-below p {
  text-align: justify;
  margin: 0;
}
footer .footer-below .left {
  text-align: left;
  margin-top: 0.5em;
}
footer .footer-below .separar {
  padding: 1em 0;
}
footer .footer-below .redes {
  text-align: left;
  font-size: 1.5em;
}
footer .footer-below .redes a:hover {
  color: #808080;
}
footer .footer-below .become-footer {
  text-align: right;
}
footer .footer-below .become-footer a {
  font-size: 1.5em;
  text-align: right;
  color: #b43849;
}
footer .footer-below .become-footer a:hover {
  color: #808080;
}
footer .footer-below ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-below ul li {
  text-align: left;
  margin: 0.5em 0;
}
footer .footer-below ul li a {
  color: #fff;
  font-size: 1.1em;
}
footer .footer-below ul li a:hover {
  color: #808080;
}
footer .footer-below ul li .glyphicon:before {
  font-size: 1.5em;
}
footer .footer-below .cont span {
  margin: 10px 0;
}
footer .footer-1 {
  background: #2a2a2a;
}
/*--------------------------------reponsive-----------------------------------------*/
@media (max-width: 1140px) {
  .content {
    margin-top: 5em;
  }
  header .navbar-collapse {
    position: absolute;
    left: 0;
    top: 60px;
    background: #fff;
    color: #fff;
  }
  header .navbar-inverse {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    display: block !important;
  }
  header .navbar-inverse .collapse {
    width: 100% !important;
    border-top: 1px solid #000 !important;
    margin-top: 1em !important;
  }
  header .navbar-inverse .view {
    display: block !important;
  }
  header .navbar-inverse .no-view {
    display: none !important;
  }
  header .navbar-inverse .navbar-header {
    float: none !important;
  }
  header .navbar-inverse .navbar-toggle {
    display: block !important;
    z-index: 10 !important;
  }
  header .navbar-inverse .navbar-nav {
    flex-direction: column !important;
    height: 100% !important;
  }
}
/*---------------------SM--------------------------------*/
@media (max-width: 992px) {
  header .navbar-inverse {
    z-index: 10000;
    top: 0;
  }
  header img {
    width: 140px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  footer .footer-below .left {
    text-align: center;
  }
  header .navbar-brand img {
    width: 350px !important;
    height: 80px !important;
    margin-top: -1em !important;
  }
  header .navbar-brand {
    padding: 0;
    margin-left: 1em;
  }
  header .navbar-brand img {
    width: 200px;
    height: 50px;
  }
  header .navbar-right {
    margin-right: 0;
  }
  header .navbar-nav>li>a {
    line-height: 0px;
  }
}
@media (max-width: 430px) {
  header .navbar-brand img {
    width: 250px !important;
    margin-top: -1em !important;
  }
}
@media (max-width: 345px) {
  header .navbar-brand img {
    width: 200px !important;
    height: 80px !important;
    margin-top: -1em !important;
  }
}
.imprimir {
  display: none;
}
#shareM2 .modal-dialog.modal-sm,
#shareM3 .modal-dialog.modal-sm {
  width: 480px;
}
#shareM2 .mod__iz h3,
#shareM3 .mod__iz h3 {
  color: #f00;
}
#shareM2 .mod__iz p,
#shareM3 .mod__iz p {
  padding: 0;
  text-align: left;
}
#shareM2 .mod__iz .boton_mega,
#shareM3 .mod__iz .boton_mega {
  width: 200px;
}
#shareM2 .mod__iz .boton_mega button,
#shareM3 .mod__iz .boton_mega button {
  padding: 1em 2em;
}
#shareM2 .personal,
#shareM3 .personal {
  width: 100%;
}
#shareM2 label,
#shareM3 label {
  padding: 0;
}
#shareM2 label:hover,
#shareM3 label:hover {
  background: transparent;
}
#shareM2 .titular,
#shareM3 .titular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0.5em;
  border-bottom: 1px solid #000;
  width: 100%;
}
#shareM2 .titular .redondo,
#shareM3 .titular .redondo {
  margin: 0;
  border-radius: 50%;
  margin-top: 0 !important;
}
#shareM2 .dos,
#shareM3 .dos {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
#shareM2 .dos .form-group,
#shareM3 .dos .form-group {
  padding: 0 0.5em;
}
#shareM2 .dos .form-group p,
#shareM3 .dos .form-group p {
  margin: 0;
}
#shareM2 .dos .form-group input,
#shareM3 .dos .form-group input {
  margin: 0;
}
#shareM2 input[type="checkbox"],
#shareM3 input[type="checkbox"] {
  display: block;
  position: inherit;
  margin: 0;
  width: 60px !important;
}
#shareM2 .checkbox,
#shareM3 .checkbox {
  width: 100%;
  display: flex;
}
#shareM2 .checkbox label,
#shareM3 .checkbox label {
  width: 90%;
}
#shareM,
#shareM2,
#shareM3 {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
  margin: auto;
}
#shareM .modal-content,
#shareM2 .modal-content,
#shareM3 .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
#shareM .modal-content a,
#shareM2 .modal-content a,
#shareM3 .modal-content a {
  color: #fff;
  padding: 0 1em;
  line-height: 2em;
  margin: 0.1em;
  background: #dd4b39;
  width: 200px;
  text-align: center;
}
#shareM .modal-content a.facebook,
#shareM2 .modal-content a.facebook,
#shareM3 .modal-content a.facebook {
  background: #3b5998;
}
#shareM .modal-content a.twitter,
#shareM2 .modal-content a.twitter,
#shareM3 .modal-content a.twitter {
  background: #55acee;
}
#shareM .modal-content a.share-post .googleplus,
#shareM2 .modal-content a.share-post .googleplus,
#shareM3 .modal-content a.share-post .googleplus {
  background: #dd4b39;
}
#shareM .modal-content .btn,
#shareM2 .modal-content .btn,
#shareM3 .modal-content .btn {
  margin-top: 1em;
}
#shareM .modal-content input,
#shareM2 .modal-content input,
#shareM3 .modal-content input {
  width: 100%;
}
#shareM .modal-content .input-group,
#shareM2 .modal-content .input-group,
#shareM3 .modal-content .input-group {
  margin-bottom: 10px;
}
.detail p {
  padding: 0;
}
.detail .slide3 img {
  height: 350px !important;
  width: auto;
  margin: 0 auto;
}
.detail .redes {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  padding: 0 2em;
}
.detail .redes img {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}
.detail .barra {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  color: #337ab7;
}
.detail .barra strong {
  color: #c72931;
  margin-left: 0.5em;
}
.detail .barra div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .barra img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.detail .page {
  padding: 1em;
}
.detail .page .titulo {
  display: flex;
  align-items: center;
  border-top: 5px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-top: 1em;
}
.detail .page .titulo .glyphicon {
  font-size: 1.5em;
  margin-right: 0.5em;
}
.detail .page .titulo p {
  width: 100%;
}
.detail .page .titulo a {
  margin-left: 1em;
}
.detail .page .titulo img {
  height: 40px;
  width: 40px;
  margin-right: 1em;
}
.detail .page .titulo .dos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}
.detail .page .titulo .dos h4 {
  display: flex;
}
.detail .page .titulo .dos h4 strong {
  margin-right: 1em;
}
.detail .page .body {
  margin-top: 1em;
}
.detail .page .body .box {
  margin-bottom: 1em;
}
.detail .page .body .box img {
  padding: 0;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 1em;
}
.detail .page .body .box .tex {
  padding: 1em;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .body .box .tex p {
  margin: 0;
}
.detail .page .centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .centrar .btn {
  padding: 0;
  padding-left: 1em;
  background: #006e9e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .centrar .btn i {
  padding: 1em;
}
.detail .page form {
  margin-top: 1em;
}
.detail .page form .input-group {
  margin-bottom: 1em;
}
.detail .page ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
  font-size: 1.2em;
}
.detail .page .cont {
  margin-top: 1em;
}
.detail .page .cont .gp {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.detail .page .cont .gp img {
  margin-right: 1em;
  height: 60px;
  width: 5 0px;
}
.detail .page .slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.detail .page .slide .thumbnail h3 {
  margin: 0;
  text-align: center;
  margin-top: -1.06em;
  font-size: 2em;
  background: rgba(50,50,50,0.8);
  position: relative;
  color: #fff;
  font-weight: 200;
}
.detail .page .abajo {
  flex-direction: inherit;
}
.detail .page .abajo .thumbnail {
  width: 300px;
  margin-right: 15px;
}
.detail .page .titulos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .page .titulos strong {
  color: #006e9e;
}
.detail .page .photo .thumbnail {
  border: none;
}
.detail .page .photo .thumbnail:hover img {
  opacity: 0.8;
}
.detail .page .photo .mini-thumbnail {
  padding: 0 1em;
}
.detail .page .detail h1 {
  text-align: center;
  color: #006e9e;
  text-decoration: underline;
}
.detail .page .detail .more_size {
  font-size: 1.5em;
}
.detail .page .detail .list {
  padding: 0 0.5em;
}
.detail .page .detail .list .lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .page .des {
  font-size: 1.2em;
  text-align: justify;
}
.detail .page .more-marge {
  margin-top: 2em;
}
.detail .page iframe {
  width: 100%;
}
.detail .page .box_dealer {
  text-align: center;
  font-size: 18px;
  border-top: 5px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.detail .page .box_dealer img {
  width: 300px;
}
.detail .page .box_dealer p {
  width: 100%;
}
.detail .page .publicidad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em 3em 2em 3em;
}
.detail .page .publicidad img {
  margin-bottom: 1em;
  height: 750px;
}
@media print {
  .imprimir {
    display: block !important;
  }
  .ver {
    display: block !important;
  }
  header,
  footer {
    display: none;
  }
  .detail .red,
  .detail .barra {
    display: none;
  }
  .detail .page {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .detail .page .titulo,
  .detail .page .slide2,
  .detail .page form,
  .detail .page .body,
  .detail .page .publicidad,
  .detail .page .verde,
  .detail .page iframe {
    display: none;
  }
  .detail .page .slide .carousel-control {
    display: none;
  }
  .detail .page .box_dealer {
    position: absolute;
    bottom: 100%;
    border-top: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: none;
  }
  .detail .page .box_dealer img {
    width: 300px;
    height: 60px;
  }
  .detail .page .box_dealer .tit,
  .detail .page .box_dealer .cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contact_us {
  padding: 1em;
}
.contact_us .email {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us .email img {
  width: 100px;
  height: 100px;
}
.contact_us .email h4 {
  padding: 0.5em;
}
.contact_us .redes {
  text-align: center;
  padding: 1em;
}
.contact_us .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_us .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.contact_us .info h3 {
  margin: 1em;
}
.contact_us .titulo {
  padding: 0 2em;
}
.contact_us .titulo h3 {
  background: #c4d81b !important;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.contact_us .cen {
  display: flex;
  width: 100%;
}
.contact_us .cen button {
  margin: auto;
  background: #c4d81b !important;
}
.contact_us form {
  background: #ececec;
  padding: 1em;
  border-radius: 10px;
  margin: 0;
}
.contact_us .control-group.form-group {
  padding: 0 1em;
}
.contact_us .control-group.form-group input {
  margin: 0;
}
.pad {
  padding: 0 3em;
}
.back img {
  width: 100px;
  height: 100px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
ul a {
  color: #000;
}
ul a:hover {
  color: #c4d81b !important;
}
.contacto .grupo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .grupo img {
  height: 100px;
  width: 100px;
}
.contacto .grupo p {
  width: 200px;
  margin: 0;
}
.title_caja {
  margin-top: 1em;
  font-size: 1.2em;
  border-bottom: 2px solid #ddd;
  padding: 0.2em 0;
}
.body__cajas {
  margin-top: 1em;
}
.body__cajas .box {
  margin-bottom: 1em;
}
.body__cajas .box img {
  padding: 0;
  height: 50px;
  width: 50px;
  float: left;
}
.body__cajas .box .tex {
  padding: 1em;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__cajas .box .tex p {
  margin: 0;
  padding: 0;
}
.boton_mega {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.boton_mega button {
  border-radius: 0;
  background: #c4d81b !important;
  border-color: #c4d81b !important;
  padding: 1em 6em;
}
.boton_mega button:hover {
  background: rgba(78,161,179,0.8);
}
.barra__car,
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.barra__car {
  border-bottom: 2px solid #ddd;
  padding: 0.1em 0.5em;
  margin-bottom: 1em;
}
.barra__car img {
  height: 40px;
  width: 40px;
}
.barra__car .btn__caja {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}
.barra__car select {
  border: 1px solid;
  width: auto;
}
.box__cajas__cambiar {
  padding: 0;
  padding-right: 2em;
}
.listado__carros_no {
  display: none;
}
.listado__carros .listado__carros_si {
  display: none;
}
.listado__carros .listado__carros_no {
  display: block;
}
.listado__carros .car {
  margin-bottom: 2em;
  border: solid 1px #c4d81b !important;
  box-shadow: 4px 4px 5px #999;
  height: 200px;
  margin-left: 1em;
}
.listado__carros .car .col {
  margin: 0;
  padding: 0;
}
.listado__carros .car a {
  cursor: pointer;
}
.listado__carros .car .car__img {
  position: relative;
  font-size: 2em;
  border-right: solid #c4d81b !important 0.15em;
  height: 100%;
}
.listado__carros .car .car__img img {
  width: 100%;
  height: 100%;
}
.listado__carros .car .car__img .favoritos {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #808080;
  z-index: 1000;
}
.listado__carros .car .car__info {
  padding: 0 20px !important;
  font-size: 1em;
  height: 100px;
}
.listado__carros .car .car__info h3 {
  padding: 10px 0 !important;
  color: #c4d81b !important;
  height: 50px;
}
.listado__carros .car .car__info .car__info-caracteristicas {
  height: 100px;
}
.listado__carros .car .car__info .car__info-caracteristicas strong {
  color: #c4d81b !important;
  font-size: 0.9em;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listado__carros .car .car__info .car__info-caracteristicas p {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listado__carros .car .car__info .car__info-description {
  height: 100px;
}
.listado__carros .car .car__info .car__info-description p {
  height: 100%;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
}
.listado__carros .car .car__info .car__links {
  margin-top: 10px !important;
  height: 50px;
}
.listado__carros .car .car__dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listado__carros .car .car__dealer h3 {
  text-align: center;
  padding: 10px 0 !important;
  height: 50px;
}
.listado__carros .car .car__dealer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f00;
  height: 100px;
  width: 100%;
}
.listado__carros .car .car__dealer div img {
  width: 50px;
  height: 50px;
}
.listado__carros .car .car__dealer a {
  border: 1px solid #c4d81b !important;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.listado__carros .car .car__dealer a:hover {
  background: #c4d81b !important;
  color: #fff;
}
.listado__carros .car .car__dealer .tachar {
  text-decoration: line-through;
  color: #000;
  font-weight: normal;
}
.listado__carros .car .car__dealer strong {
  text-decoration: none;
  color: #f00;
}
.redes__movil {
  display: none;
}
.redes__movil img {
  height: 40px;
  width: 40px;
}
.modal {
  z-index: 20000;
}
::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 1256px) {
  .listado__carros .car__dealer div {
    height: 50% !important;
  }
}
@media (max-width: 1152px) {
  .redes__movil {
    display: block;
  }
  .barra__car .right {
    display: none;
  }
  .barra__car .redes {
    display: none;
  }
  .listado__carros .listado__carros_no {
    display: none;
  }
  .listado__carros .listado__carros_si {
    display: block;
  }
}
.btn-success {
  background: #c4d81b !important;
}
.contact_us {
  padding: 1em;
}
.contact_us .email {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us .email img {
  width: 100px;
  height: 100px;
}
.contact_us .email h4 {
  padding: 0.5em;
}
.contact_us .redes {
  text-align: center;
  padding: 1em;
}
.contact_us .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_us .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.contact_us .info h3 {
  margin: 1em;
}
.contact_us .titulo {
  padding: 0 2em;
}
.contact_us .titulo h3 {
  background: #c4d81b !important;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.contact_us .cen {
  display: flex;
  width: 100%;
}
.contact_us .cen button {
  margin: auto;
  background: #c4d81b !important;
}
.contact_us form {
  background: #ececec;
  padding: 1em;
  border-radius: 10px;
  margin: 0;
}
.contact_us .control-group.form-group {
  padding: 0 1em;
}
.contact_us .control-group.form-group input {
  margin: 0;
}
.top_men {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #ddd;
  margin: 10px 0;
  padding: 10px 0;
}
.pad {
  padding: 0 3em;
  padding-top: 10px;
}
.back img {
  width: 40px;
  height: 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
ul a {
  color: #000;
}
ul a:hover {
  color: #c4d81b !important;
}
.contacto .grupo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .grupo img {
  height: 60px;
  width: 60px;
}
.contacto .grupo p {
  width: 200px;
  margin: 0;
}
.title_caja {
  margin-top: 1em;
  font-size: 1.2em;
  border-bottom: 2px solid #ddd;
  padding: 0.2em 0;
}
.title_caja2 {
  text-align: center;
  background: #c4d81b !important;
  border-bottom: none;
  color: #fff;
  padding: 0.5em;
}
.npad {
  padding: 0;
}
.mtop {
  margin-top: 10px;
}
.mtop textarea {
  width: 100%;
}
.mtop .titb {
  background: #ddd;
  width: 85px;
  padding: 5px;
  border-radius: 10px 10px 0 0px;
}
.body__cajas {
  margin-top: 1em;
}
.body__cajas .box {
  margin-bottom: 1em;
}
.body__cajas .box img {
  padding: 0;
  height: 40px;
  width: 40px;
  float: left;
}
.body__cajas .box .tex {
  padding: 1em;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__cajas .box .tex p {
  margin: 0;
  padding: 0;
}
.boton_mega {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.boton_mega button {
  border-radius: 0;
  background: #c4d81b !important;
  border-color: #c4d81b !important;
  padding: 1em 6em;
  margin-bottom: 10px;
}
.boton_mega button:hover {
  background: #b1bb5b !important;
}
.barra__car,
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.barra__car {
  border-bottom: 2px solid #ddd;
  padding: 0.1em 0.5em;
  margin-bottom: 1em;
}
.barra__car .dir {
  height: 41px;
}
.barra__car img {
  height: 40px;
  width: 40px;
}
.barra__car .btn__caja {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}
.barra__car select {
  border: 1px solid;
  width: auto;
  border-radius: 5px;
  height: 40px;
}
.box__cajas__cambiar {
  padding: 0;
  padding-right: 2em;
}
.listado__carros_no {
  display: none;
}
.listado__carros .listado__carros_si {
  display: none;
}
.listado__carros .listado__carros_no {
  display: block;
}
.listado__carros .car {
  margin-bottom: 2em;
  border: solid 1px #c4d81b !important;
  box-shadow: 4px 4px 5px #999;
  height: 200px;
  margin-left: 1em;
}
.listado__carros .car .col {
  margin: 0;
  padding: 0;
}
.listado__carros .car a {
  cursor: pointer;
}
.listado__carros .car .car__img {
  position: relative;
  font-size: 2em;
  border-right: solid #c4d81b !important 0.15em;
  height: 100%;
}
.listado__carros .car .car__img img {
  width: 100%;
  height: 100%;
}
.listado__carros .car .car__img .favoritos {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #808080;
  z-index: 1000;
}
.listado__carros .car .car__info {
  padding: 0 20px !important;
  font-size: 1em;
  height: 100px;
}
.listado__carros .car .car__info h3 {
  padding: 10px 0 !important;
  color: #c4d81b !important;
  height: 50px;
}
.listado__carros .car .car__info .car__info-caracteristicas {
  height: 100px;
}
.listado__carros .car .car__info .car__info-caracteristicas strong {
  color: #c4d81b !important;
  font-size: 0.9em;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listado__carros .car .car__info .car__info-caracteristicas p {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listado__carros .car .car__info .car__info-description {
  height: 100px;
}
.listado__carros .car .car__info .car__info-description p {
  height: 100%;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
}
.listado__carros .car .car__info .car__links {
  margin-top: 10px !important;
  height: 50px;
}
.listado__carros .car .car__dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.listado__carros .car .car__dealer h3 {
  text-align: center;
  padding: 10px 0 !important;
  height: 50px;
}
.listado__carros .car .car__dealer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f00;
  height: 100px;
  width: 100%;
}
.listado__carros .car .car__dealer div img {
  width: 50px;
  height: 50px;
}
.listado__carros .car .car__dealer a {
  border: 1px solid #c4d81b !important;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.listado__carros .car .car__dealer a:hover {
  background: #c4d81b !important;
  color: #fff;
}
.listado__carros .car .car__dealer .tachar {
  text-decoration: line-through;
  color: #000;
  font-weight: normal;
}
.listado__carros .car .car__dealer strong {
  text-decoration: none;
  color: #f00;
}
.redes__movil {
  display: none;
}
.redes__movil img {
  height: 40px;
  width: 40px;
}
.modal {
  z-index: 20000;
}
::-webkit-inner-spin-button {
  display: none;
}
@media print {
  .top_men,
  .pad,
  .barra__car,
  .redes__movil,
  .pagination,
  .btn_det {
    display: none !important;
  }
  .box__cajas__cambiar {
    margin-bottom: 150px !important;
  }
  .in {
    margin-bottom: 20px;
  }
}
@media (max-width: 1256px) {
  .listado__carros .car__dealer div {
    height: 50% !important;
  }
}
@media (max-width: 1152px) {
  .redes__movil {
    display: block;
  }
  .barra__car .right {
    display: none;
  }
  .barra__car .redes {
    display: none;
  }
  .listado__carros .listado__carros_no {
    display: none;
  }
  .listado__carros .listado__carros_si {
    display: block;
  }
}
.cars {
  max-width: 1366px;
  margin: auto;
  margin-top: 2em;
}
.cars .carro {
  margin-bottom: 3em;
}
.cars .carro .thumbnail {
  max-width: 100%;
  border: 0;
  box-shadow: none;
}
.cars .carro .thumbnail a {
  background: transparent;
  padding: 0;
}
.cars .carro .thumbnail a img {
  height: 200px;
}
.cars .carro .thumbnail .caption {
  border-bottom: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.cars .carro .thumbnail .caption .texto {
  text-align: left;
  padding-left: 0;
}
.cars .carro .thumbnail .caption .texto a h4 {
  color: #000;
  text-align: left;
}
.cars .carro .thumbnail .caption .price {
  text-align: center;
  padding: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #c4d81b !important;
  line-height: 56px;
  border-left: 12px solid transparent;
  border-bottom: 35px solid #c4d81b !important;
  height: 0;
  display: inline-block;
}
.cars .carro .thumbnail .caption .price .dos {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.cars .carro .thumbnail .caption .price h4 {
  color: #fff;
  font-size: 15px;
}
.cars .carro .thumbnail .caption .price2 {
  border-left: 18px solid transparent;
  border-bottom: 70px solid #c4d81b !important;
}
.cars .carro .thumbnail .caption .detail {
  padding: 0;
  border-bottom: 1px solid #4d5c57;
}
.cars .carro .thumbnail .caption .detail a {
  color: #c4d81b !important;
  text-align: right;
}
.cars .carro .thumbnail .caption .detail a p {
  margin-bottom: 0;
}
.cars .carro .thumbnail .caption .extra {
  padding: 0;
}
.cars .carro .thumbnail .caption .extra h5 {
  color: #4d5c57;
  width: 100%;
}
.cars .carro.special {
  padding-left: 5px;
  padding-right: 5px;
}
.cars .carro.special .thumbnail {
  padding: 0;
}
.cars .carro.special .thumbnail .caption .texto {
  padding: 0;
}
.cars .carro.special .thumbnail .caption .texto h4 {
  font-size: 15px;
}
.cars .carro.special .thumbnail .caption .price {
  margin-top: 0;
}
.cars .carro.special .thumbnail .caption .price .special {
  font-size: 10px;
  text-decoration: line-through;
  margin-right: 0;
}
.cars .carro.special .thumbnail .caption .price h4 {
  font-size: 12px;
  margin-right: 5px;
}
/*---------------------------------------OUR TEAM----------------------------------------------------*/
.our .tit {
  color: #c4d81b !important;
  margin-top: 10px;
  border: 1px solid #c6c6c6;
  padding: 0.431em;
  border-right: none;
  border-left: none;
  font-size: 1.45em;
  font-weight: 700;
}
.our .cajas {
  padding: 10px;
  margin: 0;
  background: #fff;
}
.our .caja {
  background-color: #ececec;
  padding: 0.625em;
  border: 1px solid #c6c6c6;
  display: flex;
  border-radius: 10px;
}
.our .caja .info {
  width: 100%;
}
.our .caja .info .tit {
  margin: 0;
  border-top: none;
  color: #000;
}
.our .caja .info p {
  padding: 0;
  padding-left: 10px;
}
.our .caja .img {
  background: #fff;
  border: 1px solid #c6c6c6;
  padding: 10px;
  max-width: 154px;
}
.our .caja .img img {
  height: 170px;
}
/*--------------------------------BLOG------------------------------------------*/
.blog {
  border: 1px solid #ddd;
  padding: 0;
  border-radius: 5px;
  font-size: 16px;
}
.blog a {
  background: transparent;
}
.blog .no_ver {
  display: none;
}
.blog .back {
  text-align: right;
}
.blog .back img {
  width: 40px;
  height: 40px;
}
.blog .date {
  padding: 0.5em;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}
.blog img {
  width: 100%;
}
.blog .thumbnail {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0.5em;
  padding: 0.5em 0;
  box-shadow: none;
  max-width: 100%;
}
.blog .pl {
  padding-left: 0;
}
.blog .caption {
  border-bottom: none;
  text-align: left;
  height: 60px;
  font-weight: 0;
}
.blog .caption a {
  width: 100%;
  color: #c4d81b !important;
  background: #fff;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-weight: none;
}
.blog .caption a:hover {
  color: reverse(#c4d81b !important);
}
.blog .caption .date {
  padding: 0.5em;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}
.blog .caption h3 {
  margin: 0;
}
.blog .caption h5 {
  color: #b43849;
}
.blog .caption i {
  color: #ddd;
  margin-right: 0.5em;
}
.blog__buscadors {
  padding: 0 2em;
}
.blog__buscadors .btn {
  background: #c4d81b !important;
  color: reverse(#c4d81b !important);
}
.blog__buscadors .cajas {
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  background: #fff;
}
.blog__buscadors .cajas h4 {
  text-align: left;
}
.blog__buscadors .cajas a {
  width: 100%;
  color: #c4d81b !important;
  background: #fff;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-weight: 0;
}
.blog__buscadors .cajas form {
  padding: 0.5em 0 1.5em 1.5em;
}
.blog__buscadors .cajas form .pl {
  padding-left: 0;
}
.blog__buscadors .cajas form .pr {
  padding-right: 0;
}
.blog__buscadors .cajas form input {
  width: 100%;
  height: 34px;
  font-size: 16px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.blog__buscadors .cajas form input::-webkit-input-placeholder {
  color: #ddd;
}
.blog__buscadors .cajas form input:-moz-placeholder {
  color: #ddd;
}
.blog__buscadors .cajas form input::-moz-placeholder {
  color: #ddd;
}
.blog__buscadors .cajas form input:-ms-input-placeholder {
  color: #ddd;
}
.blog__buscadors .cajas form .btn {
  border-radius: 0;
}
.blog__buscadors .cajas .thumbnail {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0.5em;
  padding: 0.5em 0;
  box-shadow: none;
}
.blog__buscadors .cajas .thumbnail img {
  width: 100%;
}
.blog__buscadors .cajas .pl {
  padding-left: 0;
  padding-right: 0;
}
.blog__buscadors .cajas .caption {
  border: none;
  text-align: left;
}
.blog__buscadors .cajas .caption h4 {
  margin: 0;
}
.blog__buscadors .cajas .caption h5 {
  color: #b43849;
}
.blog__buscadors .cajas .caption i {
  color: #ddd;
  margin-right: 0.5em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.blog__encabezado {
  margin-top: 2em;
  padding-left: 2em;
}
.blog__encabezado .tit {
  padding: 0.5em 1em;
  margin: 0;
  background: #ddd;
  width: 100%;
  margin-bottom: 1em;
  font-size: 16px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
  color: #c4d81b !important;
}
.pagination .btn-success {
  font-size: 20px !important;
  background: #337ab7 !important;
}
/*--------------------------------------------TESTIMONIAL-------------------------------------------------*/
.testimonial p {
  text-align: center;
}
.testimonial .start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.testimonial .start div {
  border-bottom: 3px solid #c4d81b !important;
}
.testimonial .start .glyphicon {
  color: #ddd;
  font-size: 14px;
}
.testimonial .start .glyphicon.active {
  color: #ff0;
}
.testimonial .tes {
  text-align: center;
  color: #4d5c57;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial .tes p {
  width: 600px;
}
.testimonial h2 {
  text-align: center;
}
.testimonial h4 {
  text-align: center;
  color: #c4d81b !important;
}
.testimonial .carousel-indicators {
  display: none;
}
.testimonial .carousel-inner>.item>img {
  width: 60px;
  height: 60px;
  margin: auto;
  border: 2px solid #ddd;
  border-radius: 50%;
}
.testimonial .carousel-control {
  border: 4px solid #ddd;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.testimonial .carousel-control .glyphicon {
  top: 20px;
  color: #ddd;
}
.testimonial .carousel-control .glyphicon-chevron-left {
  left: 22px;
}
.testimonial .carousel-control .glyphicon-chevron-right {
  left: 10px;
}
.navbar-inverse.sell_or_trade {
  background: #ddd;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.navbar-inverse.sell_or_trade .collapse {
  display: flex !important;
  justify-content: center;
}
.navbar-inverse.sell_or_trade .navbar-nav {
  flex-direction: row;
}
.navbar-inverse.sell_or_trade .navbar-nav li {
  border-left: 1px solid #4d5c57;
  color: #000 !important;
}
.navbar-inverse.sell_or_trade .navbar-nav li a {
  padding: 5px 10px !important;
  color: #000 !important;
}
.navbar-inverse.sell_or_trade .navbar-nav li a:hover {
  background: #4d5c57 !important;
  color: #fff !important;
}
.trade {
  max-width: 1366px;
  margin: auto;
}
.trade .title {
  border-bottom: 1px solid #4d5c57;
  margin-top: 10px;
}
.trade .sub_title .imagen img {
  width: 100%;
}
.trade .sub_title .texto h2 {
  margin-top: 1em;
}
.trade .formulario .titulo {
  background: #c4d81b !important;
  border-radius: 10px 10px 0 0;
  margin-left: 2em;
}
.trade .formulario .titulo h4 {
  text-align: center;
  color: #fff;
}
.trade .formulario .caja {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 2em;
}
.trade .formulario .caja select,
.trade .formulario .caja input {
  margin-left: 0px;
  width: 100%;
  border-radius: 5px;
}
.trade .formulario .caja h4 {
  height: 10px;
}
.trade .formulario .caja .tres .izq {
  padding-left: 0;
}
.trade .formulario .caja .tres .der {
  padding-right: 0;
}
@media (max-width: 767px) {
  .trade .formulario .caja .tres .izq {
    padding-left: 15px;
  }
  .trade .formulario .caja .tres .der {
    padding-right: 15px;
  }
}
.Search .head .Npd label {
  display: none;
}
.Search .head .Npd select {
  width: 100%;
  padding: 3px;
  border: 1px solid #c4d81b !important;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.Search .head .btn-success {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #c4d81b !important;
}
.Search .head .btn-success:hover {
  background: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}
.specials {
  padding: 0;
}
.specials .email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.specials .email .titulo {
  font-size: 20px;
  font-weight: 900;
}
.specials .email img {
  width: 100px;
  height: 100px;
}
.specials .email h4 {
  padding: 0.5em;
}
.specials .redes {
  text-align: center;
  padding: 1em;
}
.specials .redes .titulo {
  font-weight: 700;
}
.specials .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specials .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.specials .redes .redes {
  font-weight: 700;
}
.specials .info {
  padding-left: 0;
}
.specials .info h3 {
  margin: 1em;
}
.specials .titulo h3 {
  background: #c4d81b !important;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.specials .cen button {
  width: 100%;
  background: #c4d81b !important;
  border: 1px solid #c4d81b !important;
  padding: 0.5em;
}
.specials form {
  margin-top: 0;
  margin-bottom: 10px;
}
.specials form .input-group {
  width: 100%;
  margin-bottom: 10px;
}
.specials form .input-group textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.specials .borde {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
.specials .borde a {
  font-size: 30px;
}
.specials .cars {
  margin-top: 0;
  padding: 0;
}
.specials .call .imagen img {
  width: 100%;
  height: 80px;
}
.specials .call .texto {
  margin-top: 5px;
}
.specials .call .texto h4 {
  color: #c4d81b !important;
}
.specials .carros {
  text-align: center;
}
.specials .carros h4 {
  color: #4d5c57;
  font-weight: 600;
}
.specials .carros img {
  width: 100%;
  height: 180px;
}
.specials .carros a h4 {
  color: #4ea1b3;
}
.imagen_principal {
  width: 100%;
}
.content_cal {
  max-width: 320px;
}
.content_cal p {
  position: inherit;
  color: #000;
}
.content_cal .calc_info {
  margin-top: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
  background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
  background-image: -o-linear-gradient(top, #fff, #e5e5e5);
}
.content_cal .tabbed_top-header {
  color: #fff;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: #c4d81b !important;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.content_cal .form fieldset {
  padding: 5px;
  border: 1px solid #c6c6c6;
  background-color: #ececec;
  border-radius: 0 0 5px 5px;
}
.content_cal .form fieldset input,
.content_cal .form fieldset select {
  width: 100%;
  margin: 0;
  border: 1px solid #000;
  background: #fff;
}
.content_cal .form fieldset .calculate_button {
  margin-top: 5px;
  border: none;
  background: #c4d81b !important;
  color: #fff;
}
.approved {
  margin: auto;
  margin-top: 10em;
  max-width: 320px;
}
.approved #con2,
.approved #con3 {
  display: none;
}
.approved .cont {
  background-color: #000;
  border: 5px solid #2d54a8;
  padding: 10px 20px;
  height: 600px;
}
.approved .cont .btn-next {
  background: #2d54a8;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #fcfcfc;
  position: relative;
  margin-top: 10px;
  text-decoration: none;
}
.approved .cont .btn-next:hover {
  color: #000;
}
.approved .cont .btn-next:disabled {
  background: #8bb5da;
}
.approved .cont .btn-next:disabled:hover {
  color: #fff;
}
.approved .cont i {
  background: #2d54a8;
  color: #76ff03;
  padding: 10px;
  font-size: 18px;
  top: 0px;
  margin-left: 10px;
  display: none;
}
.approved .cont h2 {
  color: #fcfcfc;
  line-height: 22px;
  font-size: 22px;
  margin-bottom: 10px;
}
.approved .cont h3 {
  color: #3c75e0;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 15px;
  font-weight: normal;
}
.approved .cont input {
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  background: #fff;
  border: none;
}
.approved .cont select {
  border: none;
}
.approved .cont label,
.approved .cont span {
  color: #fff;
  margin-right: 10px;
  width: 160px;
}
.approved .cont .radio.inline {
  display: flex;
  width: 100%;
  margin: 0;
  font-size: 12px;
}
.approved .cont .radio.inline input {
  width: 45px;
}
.approved .cont .radio.inline.check input {
  width: 22px;
}
.approved .cont .control-group.control2 {
  justify-content: flex-start;
}
.approved .cont .control-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.approved .cont .control-group .selt {
  width: 100%;
}
.approved .cont .control-group .input.error {
  width: 160px;
}
.approved .cont .control-group input {
  width: 45%;
  margin-left: 10%;
}
.approved .cont .control-group select {
  width: 45%;
  height: 34px;
  margin: 5px 0;
  background: #fff;
}
.detail .page .publicidad img {
  width: 100%;
}
.content .head .Search {
  margin-top: 8px;
}
@media (max-width: 1140px) {
  header .navbar-inverse .active a {
    background: amarrillo !important;
  }
  header .navbar-inverse a {
    background: #fff;
    border: 1px solid #000;
  }
  header .navbar-inverse .navbar-header {
    margin-top: -10px;
  }
  header .navbar-inverse .navbar-nav {
    position: relative;
    z-index: 10000;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .content {
    margin-top: 0em !important;
    padding: 0;
  }
  .Search .head .btn-success {
    width: 100%;
  }
  .titlesearch {
    width: 100%;
    margin-bottom: -3px;
    border-radius: 0;
    padding: 10px;
  }
  .content .head .Npd select,
  .content .head .Npd input,
  .content .head .Npd button {
    width: 100%;
    margin: 10px 0 0 0;
  }
  header.row .head .page-outer.row .redes,
  header.row .head .page-outer.row .info {
    padding: 0;
    text-align: left;
  }
  .barra__car {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
  }
  .barra__car button,
  .barra__car div {
    width: 100%;
  }
  .barra__car select {
    margin-left: 0;
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .blog__encabezado {
    padding-right: 2em;
  }
  .blog__buscadors {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
  .thumbnail {
    max-width: 100%;
  }
  .blog .thumbnail {
    height: 100%;
  }
  .blog .thumbnail .caption {
    height: 100%;
  }
  .trade .formulario .caja .tres .izq {
    padding-left: 15px;
  }
  .trade .formulario .caja .tres .der {
    padding-right: 15px;
  }
}
@media (max-width: 560px) {
  .pages .detail {
    margin-top: 1em !important;
  }
  .pages .detail .redes {
    justify-content: center;
  }
  .detail .barra {
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }
  .detail .barra a {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .content .blog__encabezado .blog__buscadors .cajas form {
    padding: 0 10px 10px 0;
  }
}
