.page-outer {
  max-width: 1366px;
  margin: auto;
}
header.row .head {
  background: #7f7f7f;
}
header.row .head .page-outer.row {
  max-width: 1366px;
  margin: auto;
}
header.row .head .page-outer.row .logotipo a.logo {
  text-decoration: none;
  width: 100%;
}
header.row .head .page-outer.row .logotipo a.logo img {
  height: 90px;
}
header.row .head .page-outer.row .redes {
  padding: 2em;
}
header.row .head .page-outer.row .redes a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
header.row .head .page-outer.row .redes a i {
  margin-bottom: 10px;
}
header.row .head .page-outer.row .redes a:hover {
  color: #030786;
}
header.row .head .page-outer.row .info {
  padding: 2em;
  text-align: right;
}
header.row .head .page-outer.row .info i {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
header.row .head .page-outer.row .info i.direccion {
  font-size: 15px;
}
.nav {
  max-width: 1366px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.nav img {
  width: 100%;
  height: 600px;
}
.nav nav.navbar {
  top: 150px;
  position: absolute;
  width: 100%;
  background: transparent;
  border: transparent;
  left: 0;
}
.nav nav.navbar .logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav nav.navbar .logo img {
  width: 400px;
  height: 120px;
}
.nav nav.navbar .logo .page-outer .navbar-header button.navbar-toggle {
  background: #030786;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  background: #eee;
  border-radius: 0 0 10px 10px;
  border-bottom: 5px solid #030786;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav li {
  padding: 10px;
  margin-top: 1em;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav li a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 10px;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav li.active {
  background: #030786;
  border-radius: 10px 10px 0 0;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav li.active a {
  color: #fff;
  background: #030786;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav #Home {
  margin-left: 2em;
}
.nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.navbar-nav #Contact_Us {
  margin-right: 2em;
}
.nav nav.navbar .logo .page-outer .navbar-collapse.navbar-ex1-collapse.view.collapse.in {
  background: #030786;
}
.content {
  max-width: 1366px;
  margin: auto;
  margin-top: 1em;
}
.content .cars {
  margin-top: 4em;
  max-width: 1366px;
  margin: auto;
}
.content .cars .carro {
  margin-bottom: 3em;
}
.content .cars .carro .thumbnail {
  max-width: 100%;
  border: 0;
  box-shadow: none;
}
.content .cars .carro .thumbnail a {
  background: transparent;
  padding: 0;
}
.content .cars .carro .thumbnail a img {
  width: 100%;
  height: 200px;
}
.content .cars .carro .thumbnail .caption {
  border-bottom: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.content .cars .carro .thumbnail .caption .texto {
  text-align: left;
  padding-left: 0;
}
.content .cars .carro .thumbnail .caption .texto a h4 {
  color: #000;
  text-align: left;
}
.content .cars .carro .thumbnail .caption .price {
  text-align: center;
  padding: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #030786;
  line-height: 56px;
  border-left: 12px solid transparent;
  border-bottom: 35px solid #030786;
  height: 0;
  display: inline-block;
}
.content .cars .carro .thumbnail .caption .price .dos {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.content .cars .carro .thumbnail .caption .price h4 {
  color: #fff;
  font-size: 15px;
}
.content .cars .carro .thumbnail .caption .price2 {
  border-left: 18px solid transparent;
  border-bottom: 70px solid #030786;
}
.content .cars .carro .thumbnail .caption .detail {
  padding: 0;
  border-bottom: 1px solid #4d5c57;
}
.content .cars .carro .thumbnail .caption .detail a {
  color: #030786;
  text-align: right;
}
.content .cars .carro .thumbnail .caption .detail a p {
  margin-bottom: 0;
}
.content .cars .carro .thumbnail .caption .extra {
  padding: 0;
}
.content .cars .carro .thumbnail .caption .extra h5 {
  color: #4d5c57;
  width: 100%;
}
.content .cars .carro.special .thumbnail .caption .price {
  margin-top: 0;
}
.content .cars .carro.special .thumbnail .caption .price .special {
  font-size: 12px;
  text-decoration: line-through;
}
.content .Search {
  border-top: 2px solid #2047d4;
  border-bottom: 2px solid #2047d4;
  padding: 0.5em 0;
}
.content .Search .head .centrar {
  display: flex;
  justify-content: center;
}
.content .Search .head .centrar .Npd select {
  width: 100%;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #030786;
}
.content .Search .head .centrar .Npd label {
  display: none;
}
.content .Search .head .centrar .btn-success {
  margin-top: 5px;
  margin-bottom: 5px;
}
.car_finder .from {
  width: 100%;
  display: flex;
}
.car_finder .from .table {
  width: 50%;
  margin-left: 2em;
}
.car_finder .from .table h2 {
  color: #030786;
}
.car_finder .from .table .info {
  margin-top: 1em;
  display: flex;
}
.car_finder .from .table .info input {
  width: 30%;
  border-radius: 5px;
}
.car_finder .from .table .info span {
  font-size: 24px;
  font-weight: 700;
}
.car_finder .from .table .info label {
  margin-top: 5px;
  width: 15%;
  text-align: right;
}
.special .info {
  display: flex;
}
.special .info .carro {
  width: 30%;
  margin-left: 4em;
}
.special .info .carro img {
  width: 100%;
}
.special .info .texto {
  width: 50%;
  margin-left: 3em;
  text-align: center;
}
.special .info .texto h3 {
  color: #030786;
}
.special .info .texto a {
  text-decoration: none;
}
.special .info .texto .cuatro {
  display: flex;
}
.special .info .texto .cuatro .dos {
  display: flex;
}
.special .info .texto .cuatro .dos .caja {
  margin-left: 2em;
  text-align: left;
}
.special .info .texto .cuatro .dos .caja.title {
  margin-left: 8em;
  font-weight: 700;
}
.special .info .texto .price {
  color: #030786;
}
.special .info .texto .special {
  text-decoration: line-through;
}
.special .caja {
  margin-bottom: 1em;
}
.special .caja .linea {
  background: #030786;
  width: 100%;
  height: 5px;
}
.special .caja .title {
  text-align: center;
}
.special .caja .title h1 {
  color: #030786;
}
.special .carros {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.special .carros a {
  width: 15%;
  margin-left: 2em;
}
.special .carros a img {
  width: 100%;
  height: 150px;
}
.special .carros button {
  width: 15%;
}
.special .carros button img {
  width: 100%;
  height: 150px;
}
.special .flechas {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
}
.special .flechas .right {
  width: 50%;
  text-align: right;
}
.special .flechas .right img {
  width: 30px;
}
.special .flechas .left {
  width: 50%;
}
.special .flechas .left img {
  width: 30px;
}
.direction .title {
  color: #030786;
  text-align: center;
}
.direction .caja {
  margin-left: 1em;
  margin-right: 1em;
}
.contact_us {
  margin-right: 1em;
  margin-left: 1em;
}
.contact_us .title {
  color: #030786;
  text-align: center;
}
.contact_us .cen {
  text-align: center;
  margin-bottom: 1em;
}
.financing {
  padding: 1em;
}
.financing a {
  text-decoration: none;
  cursor: pointer;
}
.financing .title {
  text-align: center;
  color: #2047d4;
}
.financing .from_financing,
.financing max-width 1550px,
.financing margin auto,
.financing margin-top 2em,
.financing form {
  width: 100%;
}
.financing .barra {
  width: 100%;
  margin-bottom: 1em;
  background: #eee;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: center;
}
.financing .barra h4 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #000;
}
.financing .barra span {
  background: #2047d4;
  padding: 5px;
  color: #fff;
  text-align: right;
  border-radius: 5px;
  margin-right: 0.5em;
}
.financing .caja {
  margin-bottom: 1em;
}
.financing .caja h4 {
  height: 25px;
}
.financing .caja textarea,
.financing .caja input,
.financing .caja select {
  border: 1px solid #2047d4;
  background: #fff;
  border-radius: 5px;
  margin-left: 0;
}
.financing .caja .title.l {
  width: 25%;
}
.financing .caja .title {
  margin-left: 10px;
  margin-top: 0;
  background: #2047d4;
  width: 20%;
  border-radius: 5px 5px 0 0;
}
.financing .caja .title h3 {
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  text-shadow: none;
  margin-bottom: 0;
}
.financing .caja .Referral,
.financing .caja .Vehicle,
.financing .caja .Contact,
.financing .caja .Personal,
.financing .caja .Previous,
.financing .caja .Employment,
.financing .caja .Disclaimer,
.financing .caja .Employer,
.financing .caja .Information {
  background: #eee;
  padding: 5px 1em 5px 1em;
  border-radius: 5px;
}
.financing .caja .Referral input {
  width: 100%;
}
.financing .caja .Vehicle select {
  width: 33%;
}
.financing .caja .Vehicle input {
  width: 50%;
}
.financing .caja .Contact .tres {
  display: flex;
}
.financing .caja .Contact .tres .info {
  width: 33%;
  margin-right: 10px;
}
.financing .caja .Contact .tres .info input {
  width: 100%;
}
.financing .caja .Contact .dos {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.financing .caja .Contact .dos .info {
  width: 50%;
}
.financing .caja .Contact .dos .info input {
  width: 31%;
}
.financing .caja .Contact .dos .info .end {
  width: 35%;
}
.financing .caja .Contact .dos .info1 {
  width: 50%;
  margin-right: 5px;
}
.financing .caja .Contact .dos .info1 input {
  width: 100%;
}
.financing .caja .Contact .dos .info1 .dos .info {
  margin-right: 5px;
}
.financing .caja .Personal .tres {
  display: flex;
}
.financing .caja .Personal .tres .info {
  margin-right: 10px;
  width: 33%;
}
.financing .caja .Personal .tres .info input {
  width: 100%;
}
.financing .caja .Personal .tres .info .tres input {
  margin-right: 10px;
}
.financing .caja .Personal .cuatro {
  display: flex;
}
.financing .caja .Personal .cuatro .info {
  margin-right: 10px;
  width: 25%;
}
.financing .caja .Personal .cuatro .info input,
.financing .caja .Personal .cuatro .info select {
  width: 100%;
}
.financing .caja .Previous .dos {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.financing .caja .Previous .dos .info {
  width: 50%;
  margin-right: 1em;
}
.financing .caja .Previous .dos .info input {
  width: 100%;
}
.financing .caja .Previous .cuatro {
  display: flex;
}
.financing .caja .Previous .cuatro .info {
  width: 25%;
  margin-right: 1em;
}
.financing .caja .Previous .cuatro .info select,
.financing .caja .Previous .cuatro .info input {
  width: 100%;
}
.financing .caja .Employment .tres {
  display: flex;
}
.financing .caja .Employment .tres .info {
  margin-right: 1em;
  width: 33%;
}
.financing .caja .Employment .tres .info input {
  width: 100%;
}
.financing .caja .Employment .tres .info1 {
  margin-right: 1em;
  width: 33%;
}
.financing .caja .Employment .tres .info1 input {
  width: 30%;
}
.financing .caja .Employment .tres .info1 .end {
  width: 35%;
}
.financing .caja .Employment .cuatro {
  display: flex;
}
.financing .caja .Employment .cuatro .info {
  width: 25%;
  margin-right: 1em;
}
.financing .caja .Employment .cuatro .info input {
  width: 100%;
}
.financing .caja .Employment .uno {
  width: 100%;
}
.financing .caja .Employment .uno textarea {
  width: 100%;
  height: 100px;
}
.financing .caja .Employer .dos {
  margin: 0;
  display: flex;
}
.financing .caja .Employer .dos .info {
  margin-right: 1em;
  width: 50%;
}
.financing .caja .Employer .dos .info input {
  width: 100%;
}
.financing .caja .Employer .dos .info1 {
  margin-right: 1em;
  width: 50%;
}
.financing .caja .Employer .dos .info1 input {
  width: 32%;
}
.financing .caja .Employer .tres {
  display: flex;
}
.financing .caja .Employer .tres .info {
  width: 33%;
  margin-right: 1em;
}
.financing .caja .Employer .tres .info select,
.financing .caja .Employer .tres .info input {
  width: 100%;
}
.financing .caja .Information .tres {
  display: flex;
}
.financing .caja .Information .tres .info {
  width: 31%;
  margin-right: 1em;
}
.financing .caja .Information .tres .info input {
  width: 100%;
}
.financing .caja .Information .tres .info1 {
  width: 31%;
  margin-right: 1em;
}
.financing .caja .Information .tres .info1 input,
.financing .caja .Information .tres .info1 select {
  width: 31%;
}
.financing .caja .Information .dos {
  display: flex;
  margin: 0;
}
.financing .caja .Information .dos .info {
  margin-right: 1em;
  width: 50%;
}
.financing .caja .Information .dos .info input,
.financing .caja .Information .dos .info select {
  width: 100%;
}
.financing .caja .Information .dos .info1 {
  margin-right: 1em;
  width: 50%;
}
.financing .caja .Information .dos .info1 input {
  width: 30%;
}
.financing .caja .Information .uno input {
  width: 95%;
}
.financing .caja .Information .cuatro {
  display: flex;
}
.financing .caja .Information .cuatro .info {
  width: 24%;
  margin-right: 1em;
}
.financing .caja .Information .cuatro .info input,
.financing .caja .Information .cuatro .info select {
  width: 100%;
}
.financing .caja .Information .cuatro .info h4 {
  height: 40px;
}
.financing .caja .Disclaimer .checkbox label {
  width: 200px;
  padding-bottom: 0;
  padding-top: 0;
}
.financing .no_view {
  display: none;
}
.financing .view {
  display: block;
}
.financing .boton {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.financing .boton a {
  background: #56d181;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 5px;
}
footer.text-center {
  background: #030786;
  color: #fff;
}
footer.text-center .footer-below .container .row .col-lg-12.row ul {
  list-style: none;
}
footer.text-center .footer-below .container .row .col-lg-12.row ul li {
  text-align: left;
}
footer.text-center .footer-below .container .row .col-lg-12.row ul li a {
  color: #fff;
}
.imprimir {
  display: none;
}
#shareM {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
  margin: auto;
}
#shareM .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
#shareM .modal-content a {
  color: #fff;
  padding: 0 1em;
  line-height: 2em;
  margin: 0.1em;
  background: #dd4b39;
  width: 200px;
  text-align: center;
}
#shareM .modal-content a.facebook {
  background: #3b5998;
}
#shareM .modal-content a.twitter {
  background: #55acee;
}
#shareM .modal-content a.share-post .googleplus {
  background: #dd4b39;
}
#shareM .modal-content .btn {
  margin-top: 1em;
}
.detail p {
  padding: 0;
}
.detail .slide3 img {
  height: 350px !important;
  width: auto;
  margin: 0 auto;
}
.detail .redes {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  padding: 0 2em;
}
.detail .redes img {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}
.detail .barra {
  background: barras;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  color: #337ab7;
}
.detail .barra strong {
  color: rojo_oscuro;
  margin-left: 0.5em;
}
.detail .barra div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .barra img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.detail .page {
  padding: 1em;
}
.detail .page .titulo {
  display: flex;
  align-items: center;
  border-top: 5px solid #eee;
  border-bottom: 2px solid #eee;
  margin-top: 1em;
}
.detail .page .titulo .glyphicon {
  font-size: 1.5em;
  margin-right: 0.5em;
}
.detail .page .titulo p {
  width: 100%;
}
.detail .page .titulo a {
  margin-left: 1em;
}
.detail .page .titulo img {
  height: 40px;
  width: 40px;
  margin-right: 1em;
}
.detail .page .titulo .dos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}
.detail .page .titulo .dos h4 {
  display: flex;
}
.detail .page .titulo .dos h4 strong {
  margin-right: 1em;
}
.detail .page .body {
  margin-top: 1em;
}
.detail .page .body .box {
  margin-bottom: 1em;
}
.detail .page .body .box img {
  padding: 0;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 1em;
}
.detail .page .body .box .tex {
  padding: 1em;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .body .box .tex p {
  margin: 0;
}
.detail .page .centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .centrar .btn {
  padding: 0;
  padding-left: 1em;
  background: #030786;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail .page .centrar .btn i {
  padding: 1em;
}
.detail .page form {
  margin-top: 1em;
}
.detail .page form .input-group {
  margin-bottom: 1em;
}
.detail .page ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
  font-size: 1.2em;
}
.detail .page .cont {
  margin-top: 1em;
}
.detail .page .cont .gp {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.detail .page .cont .gp img {
  margin-right: 1em;
  height: 60px;
  width: 5 0px;
}
.detail .page .slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.detail .page .slide .thumbnail h3 {
  margin: 0;
  text-align: center;
  margin-top: -1.06em;
  font-size: 2em;
  background: rgba(50,50,50,0.8);
  position: relative;
  color: #fff;
  font-weight: 200;
}
.detail .page .abajo {
  flex-direction: inherit;
}
.detail .page .abajo .thumbnail {
  width: 300px;
  margin-right: 15px;
}
.detail .page .titulos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .page .titulos strong {
  color: #030786;
}
.detail .page .photo .thumbnail {
  border: none;
}
.detail .page .photo .thumbnail:hover img {
  opacity: 0.8;
}
.detail .page .photo .mini-thumbnail {
  padding: 0 1em;
}
.detail .page .detail h1 {
  text-align: center;
  color: #030786;
  text-decoration: underline;
}
.detail .page .detail .more_size {
  font-size: 1.5em;
}
.detail .page .detail .list {
  padding: 0 0.5em;
}
.detail .page .detail .list .lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail .page .des {
  font-size: 1.2em;
  text-align: justify;
}
.detail .page .more-marge {
  margin-top: 2em;
}
.detail .page iframe {
  width: 100%;
}
.detail .page .box_dealer {
  text-align: center;
  font-size: 18px;
  border-top: 5px solid #eee;
  border-bottom: 2px solid #eee;
}
.detail .page .box_dealer img {
  width: 300px;
}
.detail .page .box_dealer p {
  width: 100%;
}
.detail .page .publicidad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em 3em 2em 3em;
}
.detail .page .publicidad img {
  margin-bottom: 1em;
  height: 750px;
}
@media (max-width: 2560px) {
  .nav nav {
    width: 50%;
  }
}
@media (max-width: 1440px) {
  .nav nav {
    width: 100%;
  }
}
@media (max-width: 1165px) {
  .content .index .info .texto .dos .caja.title,
  .content .special .info .texto .dos .caja.title {
    margin-left: 4em;
  }
  .content .index .carros a,
  .content .special .carros a {
    margin-left: 2em;
  }
}
@media (max-width: 1024px) {
  .content .from_financing .caja .title.l {
    width: 35%;
  }
  .content .index .info .texto .dos .caja.title,
  .content .special .info .texto .dos .caja.title {
    margin-left: 4em;
  }
  .content .index .search .tres .caja,
  .content .special .search .tres .caja {
    width: 25%;
  }
}
@media (max-width: 992px) {
  header img {
    width: 100%;
    height: 30px;
  }
}
@media (max-width: 940px) {
  .content .index .info .texto .dos .caja.title,
  .content .special .info .texto .dos .caja.title {
    margin-left: 2em;
  }
}
@media (max-width: 900px) {
  .content .index .boton,
  .content .special .boton {
    width: 15%;
  }
}
@media (max-width: 830px) {
  .content .index .info .texto .dos .caja.title,
  .content .special .info .texto .dos .caja.title {
    margin-left: 1em;
  }
  .content .index .search .tres .caja,
  .content .special .search .tres .caja {
    width: 30%;
    margin-left: 1em;
  }
}
@media (max-width: 890px) {
  header .nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.nav li.option a {
    font-size: 15px;
  }
}
@media (max-width: 795px) {
  header .nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.nav li.option a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .imagen,
  .carousel-control,
  .carousel-control.right {
    display: none;
  }
  .row.blog__encabezado {
    padding-left: 10px;
    padding-right: 10px;
  }
  header.row .head .page-outer.row .redes,
  header.row .head .page-outer.row .info {
    padding: 0;
    text-align: left;
  }
  header #menuDes {
    padding: 0;
  }
  header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .nav li {
    width: 100%;
  }
  header .nav nav.navbar {
    position: static;
  }
  header .nav nav.navbar .logo .page-outer {
    width: 100% !important;
    z-index: 1000;
    background: #ececec;
  }
  header .nav nav.navbar .logo .page-outer .no-view.collapse.navbar-collapse.navbar-ex1-collapse ul.nav li.option a {
    font-size: 12px;
  }
  .content .from_financing .caja .title {
    width: 30%;
  }
  .content .from_financing .caja .title.l {
    width: 45%;
  }
  .content .from_financing .caja .Vehicle .make select {
    width: 30%;
  }
  .content .from_financing .caja .Vehicle .make input {
    width: 100%;
  }
  .content .from_financing .caja .Contact .tres {
    display: block;
  }
  .content .from_financing .caja .Contact .tres .info {
    width: 100%;
  }
  .content .from_financing .caja .Contact .dos {
    display: block;
  }
  .content .from_financing .caja .Contact .dos .info {
    width: 100%;
  }
  .content .from_financing .caja .Contact .dos .info1 {
    width: 100%;
  }
  .content .from_financing .caja .Personal .tres {
    display: block;
  }
  .content .from_financing .caja .Personal .tres .info {
    width: 100%;
  }
  .content .from_financing .caja .Personal .tres .info .tres {
    display: flex;
  }
  .content .from_financing .caja .Personal .cuatro {
    display: block;
  }
  .content .from_financing .caja .Personal .cuatro .info {
    width: 100%;
  }
  .content .from_financing .caja .Previous .dos {
    display: block;
  }
  .content .from_financing .caja .Previous .dos .info {
    width: 100%;
  }
  .content .from_financing .caja .Previous .cuatro {
    display: block;
  }
  .content .from_financing .caja .Previous .cuatro .info {
    width: 100%;
  }
  .content .from_financing .caja .Employment .tres {
    display: block;
  }
  .content .from_financing .caja .Employment .tres .info,
  .content .from_financing .caja .Employment .tres .info1 {
    width: 100%;
  }
  .content .from_financing .caja .Employment .cuatro {
    display: block;
  }
  .content .from_financing .caja .Employment .cuatro .info {
    width: 100%;
  }
  .content .from_financing .caja .Employer .dos {
    display: block;
  }
  .content .from_financing .caja .Employer .dos .info,
  .content .from_financing .caja .Employer .dos .info1 {
    width: 100%;
  }
  .content .from_financing .caja .Employer .tres {
    display: block;
  }
  .content .from_financing .caja .Employer .tres .info {
    width: 100%;
  }
  .content .from_financing .caja .Information .tres {
    display: block;
  }
  .content .from_financing .caja .Information .tres .info,
  .content .from_financing .caja .Information .tres .info1 {
    width: 100%;
  }
  .content .from_financing .caja .Information .dos {
    display: block;
  }
  .content .from_financing .caja .Information .dos .info,
  .content .from_financing .caja .Information .dos .info1 {
    width: 100%;
  }
  .content .from_financing .caja .Information .cuatro {
    display: block;
  }
  .content .from_financing .caja .Information .cuatro .info {
    width: 100%;
  }
  .content .index .info .texto .dos .caja.title,
  .content .special .info .texto .dos .caja.title {
    margin-left: 10px;
  }
  .content .index .boton,
  .content .special .boton {
    width: 15%;
  }
  .content .index .carros a,
  .content .special .carros a {
    width: 20%;
    margin-left: 1em;
  }
  .content .index .search .tres .caja,
  .content .special .search .tres .caja {
    width: 30%;
    margin-left: 10px;
  }
  footer .footer-below .left {
    text-align: center;
  }
}
@media (max-width: 755px) {
  .content .index .info .carro,
  .content .special .info .carro {
    margin-left: 1em;
    display: flex;
    align-items: center;
  }
  .content .index .info .texto,
  .content .special .info .texto {
    margin-left: 1em;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .redes__movil {
    text-align: center;
  }
  .barra__car {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center !important;
  }
  .barra__car button,
  .barra__car div {
    width: 100%;
    margin-bottom: 10px;
  }
  .barra__car select {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100% !important;
  }
  header .nav nav.navbar .logo .page-outer {
    width: 80%;
  }
  header .nav nav.navbar .logo .page-outer .navbar-collapse.navbar-ex1-collapse.view.collapse.in {
    border-color: #030786;
  }
  header .nav nav.navbar .logo .page-outer .navbar-collapse.navbar-ex1-collapse.view.collapse.in ul {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .content .index .info,
  .content .special .info {
    display: block;
  }
  .content .index .info .carro,
  .content .special .info .carro {
    margin-left: 0;
    width: 100%;
    height: 80%;
    justify-content: center;
  }
  .content .index .info .carro img,
  .content .special .info .carro img {
    width: 80%;
  }
  .content .index .info .texto,
  .content .special .info .texto {
    margin-left: 0;
    width: 100%;
    padding: 1em;
  }
  .content .index .info .texto .dos,
  .content .special .info .texto .dos {
    justify-content: center;
  }
  .content .index .info .texto a,
  .content .special .info .texto a {
    justify-content: center;
  }
  .content .index a,
  .content .special a {
    justify-content: center;
  }
  .content .index .carros,
  .content .special .carros {
    display: block;
  }
  .content .index .carros a,
  .content .special .carros a {
    width: 100%;
    margin-bottom: 1em;
  }
  .content .index .carros a img,
  .content .special .carros a img {
    width: 80%;
    height: 200px;
  }
}
@media (max-width: 600px) {
  .content .index .boton,
  .content .special .boton {
    width: 20%;
  }
  .content .index .search .tres,
  .content .special .search .tres {
    align-items: center;
    flex-direction: column;
  }
  .content .index .search .tres .caja,
  .content .special .search .tres .caja {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .content .Search .head .centrar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .Search .head .centrar select,
  .content .Search .head .centrar .Npd {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .box_dealer .tit img {
    width: 250px !important;
  }
  .detail .redes {
    justify-content: center;
  }
  .detail .barra {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detail .barra a {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .content .index .boton,
  .content .special .boton {
    width: 30%;
  }
}
@media (max-width: 425px) {
  .content .from_financing .caja .title {
    width: 55%;
  }
  .content .from_financing .caja .title.l {
    width: 80%;
  }
}
@media (max-width: 405px) {
  .content .index .info .texto .dos .caja,
  .content .special .info .texto .dos .caja {
    margin-left: 10px;
  }
}
@media (max-width: 375px) {
  .content .from_financing .caja .title {
    width: 95%;
  }
  .content .from_financing .caja .title.l {
    width: 95%;
  }
}
@media (max-width: 370px) {
  .content .index .info .texto .cuatro,
  .content .special .info .texto .cuatro {
    display: block;
  }
}
@media print {
  .imprimir {
    display: block !important;
  }
  .ver {
    display: block !important;
  }
  header,
  footer {
    display: none;
  }
  .detail .red,
  .detail .barra {
    display: none;
  }
  .detail .page {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .detail .page .titulo,
  .detail .page .slide2,
  .detail .page form,
  .detail .page .body,
  .detail .page .publicidad,
  .detail .page .verde,
  .detail .page iframe {
    display: none;
  }
  .detail .page .slide .carousel-control {
    display: none;
  }
  .detail .page .box_dealer {
    position: absolute;
    bottom: 100%;
    border-top: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: none;
  }
  .detail .page .box_dealer img {
    width: 300px;
    height: 60px;
  }
  .detail .page .box_dealer .tit,
  .detail .page .box_dealer .cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contact_us {
  padding: 1em;
  background: #fff;
}
.contact_us .email {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us .email img {
  width: 100px;
  height: 100px;
}
.contact_us .email h4 {
  padding: 0.5em;
}
.contact_us .redes {
  text-align: center;
  padding: 1em;
}
.contact_us .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_us .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.contact_us .info h3 {
  margin: 1em;
}
.contact_us .titulo {
  padding: 0 2em;
}
.contact_us .titulo h3 {
  background: #030786;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.contact_us .cen {
  display: flex;
  width: 100%;
}
.contact_us .cen button {
  margin: auto;
  background: #030786;
}
.contact_us form {
  background: #ececec;
  padding: 1em;
  border-radius: 10px;
  margin: 0;
}
.contact_us .control-group.form-group {
  padding: 0 1em;
}
.contact_us .control-group.form-group input {
  margin: 0;
}
.btn-success {
  background: #030786;
}
.contact_us {
  padding: 1em;
}
.contact_us .email {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_us .email img {
  width: 100px;
  height: 100px;
}
.contact_us .email h4 {
  padding: 0.5em;
}
.contact_us .redes {
  text-align: center;
  padding: 1em;
}
.contact_us .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_us .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.contact_us .info h3 {
  margin: 1em;
}
.contact_us .titulo {
  padding: 0 2em;
}
.contact_us .titulo h3 {
  background: #030786;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.contact_us .cen {
  display: flex;
  width: 100%;
}
.contact_us .cen button {
  margin: auto;
  background: #030786;
}
.contact_us form {
  background: #ececec;
  padding: 1em;
  border-radius: 10px;
  margin: 0;
}
.contact_us .control-group.form-group {
  padding: 0 1em;
}
.contact_us .control-group.form-group input {
  margin: 0;
}
.top_men {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #ddd;
  margin: 10px 0;
  padding: 10px 0;
}
.pad {
  padding: 0 3em;
  padding-top: 10px;
}
.back img {
  width: 40px;
  height: 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
ul a {
  color: #000;
}
ul a:hover {
  color: #030786;
}
.contacto .grupo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto .grupo img {
  height: 60px;
  width: 60px;
}
.contacto .grupo p {
  width: 200px;
  margin: 0;
}
.title_caja {
  margin-top: 1em;
  font-size: 1.2em;
  border-bottom: 2px solid #ddd;
  padding: 0.2em 0;
}
.title_caja2 {
  text-align: center;
  background: #030786;
  border-bottom: none;
  color: #fff;
  padding: 0.5em;
}
.npad {
  padding: 0;
}
.mtop {
  margin-top: 10px;
}
.mtop textarea {
  width: 100%;
}
.mtop .titb {
  background: #eee;
  width: 85px;
  padding: 5px;
  border-radius: 10px 10px 0 0px;
}
.body__cajas {
  margin-top: 1em;
}
.body__cajas .box {
  margin-bottom: 1em;
}
.body__cajas .box img {
  padding: 0;
  height: 40px;
  width: 40px;
  float: left;
}
.body__cajas .box .tex {
  padding: 1em;
  box-shadow: 2px 2px 5px #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__cajas .box .tex p {
  margin: 0;
  padding: 0;
}
.boton_mega {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.boton_mega button {
  border-radius: 0;
  background: #030786;
  border-color: #030786;
  padding: 1em 6em;
  margin-bottom: 10px;
}
.boton_mega button:hover {
  background: fondo_tran;
}
.barra__car,
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.barra__car {
  border-bottom: 2px solid #ddd;
  padding: 0.1em 0.5em;
  margin-bottom: 1em;
}
.barra__car .dir {
  height: 41px;
}
.barra__car img {
  height: 40px;
  width: 40px;
}
.barra__car .btn__caja {
  width: 40px;
  height: 40px;
  margin-left: 1em;
}
.barra__car select {
  border: 1px solid;
  width: auto;
  border-radius: 5px;
  height: 40px;
}
.box__cajas__cambiar {
  padding: 0;
  padding-right: 2em;
}
.listado__carros_no {
  display: none;
}
.listado__carros .listado__carros_si {
  display: none;
}
.listado__carros .listado__carros_no {
  display: block;
}
.listado__carros .car {
  margin-bottom: 2em;
  border: solid 1px #030786;
  box-shadow: 4px 4px 5px #999;
  height: 200px;
  margin-left: 1em;
}
.listado__carros .car .col {
  margin: 0;
  padding: 0;
}
.listado__carros .car a {
  cursor: pointer;
}
.listado__carros .car .car__img {
  position: relative;
  font-size: 2em;
  border-right: solid #030786 0.15em;
  height: 100%;
}
.listado__carros .car .car__img img {
  width: 100%;
  height: 100%;
}
.listado__carros .car .car__img .favoritos {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #808080;
  z-index: 1000;
}
.listado__carros .car .car__info {
  padding: 0 20px !important;
  font-size: 1em;
  height: 100px;
}
.listado__carros .car .car__info h3 {
  padding: 10px 0 !important;
  color: #030786;
  height: 50px;
}
.listado__carros .car .car__info .car__info-caracteristicas {
  height: 100px;
}
.listado__carros .car .car__info .car__info-caracteristicas strong {
  color: #030786;
  font-size: 0.9em;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listado__carros .car .car__info .car__info-caracteristicas p {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listado__carros .car .car__info .car__info-description {
  height: 100px;
}
.listado__carros .car .car__info .car__info-description p {
  height: 100%;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
}
.listado__carros .car .car__info .car__links {
  margin-top: 10px !important;
  height: 50px;
}
.listado__carros .car .car__dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.listado__carros .car .car__dealer h3 {
  text-align: center;
  padding: 10px 0 !important;
  height: 50px;
}
.listado__carros .car .car__dealer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f00;
  height: 100px;
  width: 100%;
}
.listado__carros .car .car__dealer div img {
  width: 50px;
  height: 50px;
}
.listado__carros .car .car__dealer a {
  border: 1px solid #030786;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.listado__carros .car .car__dealer a:hover {
  background: #030786;
  color: #fff;
}
.listado__carros .car .car__dealer .tachar {
  text-decoration: line-through;
  color: #000;
  font-weight: normal;
}
.listado__carros .car .car__dealer strong {
  text-decoration: none;
  color: #f00;
}
.redes__movil {
  display: none;
}
.redes__movil img {
  height: 40px;
  width: 40px;
}
.modal {
  z-index: 20000;
}
::-webkit-inner-spin-button {
  display: none;
}
@media print {
  .top_men,
  .pad,
  .barra__car,
  .redes__movil,
  .pagination,
  .btn_det {
    display: none !important;
  }
  .box__cajas__cambiar {
    margin-bottom: 150px !important;
  }
  .in {
    margin-bottom: 20px;
  }
}
@media (max-width: 1256px) {
  .listado__carros .car__dealer div {
    height: 50% !important;
  }
}
@media (max-width: 1152px) {
  .redes__movil {
    display: block;
  }
  .barra__car .right {
    display: none;
  }
  .barra__car .redes {
    display: none;
  }
  .listado__carros .listado__carros_no {
    display: none;
  }
  .listado__carros .listado__carros_si {
    display: block;
  }
}
.content .cars {
  max-width: 1366px;
  margin: auto;
  margin-top: 2em;
}
.content .cars .carro {
  margin-bottom: 3em;
}
.content .cars .carro .thumbnail {
  max-width: 100%;
  border: 0;
  box-shadow: none;
  border: 1px solid #2047d4;
  background-color: #eee;
}
.content .cars .carro .thumbnail a {
  background: transparent;
  padding: 0;
}
.content .cars .carro .thumbnail a img {
  height: 200px;
}
.content .cars .carro .thumbnail .caption {
  border-bottom: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.content .cars .carro .thumbnail .caption .texto {
  text-align: left;
  padding-left: 0;
}
.content .cars .carro .thumbnail .caption .texto a h4 {
  color: #000;
  text-align: left;
}
.content .cars .carro .thumbnail .caption .price {
  text-align: center;
  padding: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #030786;
  line-height: 56px;
  border-left: 12px solid transparent;
  border-bottom: 35px solid #030786;
  height: 0;
  display: inline-block;
}
.content .cars .carro .thumbnail .caption .price .dos {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.content .cars .carro .thumbnail .caption .price h4 {
  color: #fff;
  font-size: 15px;
}
.content .cars .carro .thumbnail .caption .price2 {
  border-left: 18px solid transparent;
  border-bottom: 70px solid #030786;
}
.content .cars .carro .thumbnail .caption .detail {
  padding: 0;
  border-bottom: 1px solid #4d5c57;
}
.content .cars .carro .thumbnail .caption .detail a {
  color: #030786;
  text-align: right;
}
.content .cars .carro .thumbnail .caption .detail a p {
  margin-bottom: 0;
}
.content .cars .carro .thumbnail .caption .extra {
  padding: 0;
}
.content .cars .carro .thumbnail .caption .extra h5 {
  color: #4d5c57;
  width: 100%;
}
.content .cars .carro.special {
  padding-left: 5px;
  padding-right: 5px;
}
.content .cars .carro.special .thumbnail .caption .price {
  margin-top: 0;
}
.content .cars .carro.special .thumbnail .caption .price .special {
  font-size: 10px;
  text-decoration: line-through;
  margin-right: 0;
}
.content .cars .carro.special .thumbnail .caption .price h4 {
  font-size: 12px;
  margin-right: 5px;
}
/*---------------------------------------OUR TEAM----------------------------------------------------*/
.our .tit {
  color: #030786;
  margin-top: 10px;
  border: 1px solid #c6c6c6;
  padding: 0.431em;
  border-right: none;
  border-left: none;
  font-size: 1.45em;
  font-weight: 700;
}
.our .cajas {
  padding: 10px;
  margin: 0;
  background: #fff;
}
.our .caja {
  background-color: #ececec;
  padding: 0.625em;
  border: 1px solid #c6c6c6;
  display: flex;
  border-radius: 10px;
}
.our .caja .info {
  width: 100%;
}
.our .caja .info .tit {
  margin: 0;
  border-top: none;
  color: #000;
}
.our .caja .info p {
  padding: 0;
  padding-left: 10px;
}
.our .caja .img {
  background: #fff;
  border: 1px solid #c6c6c6;
  padding: 10px;
  max-width: 154px;
}
.our .caja .img img {
  height: 170px;
}
/*--------------------------------BLOG------------------------------------------*/
.blog {
  border: 1px solid #eee;
  padding: 0;
  border-radius: 5px;
  font-size: 16px;
}
.blog a {
  background: transparent !important;
}
.blog .thumbnail a:hover {
  background: transparent !important;
  padding: 0;
}
.blog .no_ver {
  display: none;
}
.blog .back {
  text-align: right;
}
.blog .back img {
  width: 40px;
  height: 40px;
}
.blog .date {
  padding: 0.5em;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}
.blog img {
  width: 100%;
}
.blog .thumbnail {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #eee;
  margin: 0.5em;
  padding: 0.5em 0;
  box-shadow: none;
  max-width: 100%;
}
.blog .pl {
  padding-left: 0;
}
.blog .caption {
  border-bottom: none;
  text-align: left;
  height: 60px;
}
.blog .caption a {
  width: 100%;
  color: #030786;
  background: #fff;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-weight: none;
}
.blog .caption a:hover {
  color: reverse(#030786);
}
.blog .caption .date {
  padding: 0.5em;
  border-top: 1px dashed #eee;
  border-bottom: 1px dashed #eee;
}
.blog .caption h3 {
  margin: 0;
}
.blog .caption h5 {
  color: rojo_vino;
}
.blog .caption i {
  color: #eee;
  margin-right: 0.5em;
}
.blog__buscadors {
  padding: 0 2em;
}
.blog__buscadors .btn {
  background: #030786;
  color: reverse(#030786);
}
.blog__buscadors .cajas {
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 1em;
  background: #fff;
}
.blog__buscadors .cajas h4 {
  text-align: left;
}
.blog__buscadors .cajas a {
  width: 100%;
  color: #030786;
  background: #fff;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-weight: 0;
}
.blog__buscadors .cajas form {
  padding: 0.5em 0 1.5em 1.5em;
}
.blog__buscadors .cajas form .pl {
  padding-left: 0;
}
.blog__buscadors .cajas form .pr {
  padding-right: 0;
}
.blog__buscadors .cajas form input {
  width: 100%;
  height: 34px;
  font-size: 16px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.blog__buscadors .cajas form input::-webkit-input-placeholder {
  color: #eee;
}
.blog__buscadors .cajas form input:-moz-placeholder {
  color: #eee;
}
.blog__buscadors .cajas form input::-moz-placeholder {
  color: #eee;
}
.blog__buscadors .cajas form input:-ms-input-placeholder {
  color: #eee;
}
.blog__buscadors .cajas form .btn {
  border-radius: 0;
}
.blog__buscadors .cajas .thumbnail {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #eee;
  margin: 0.5em;
  padding: 0.5em 0;
  box-shadow: none;
}
.blog__buscadors .cajas .thumbnail img {
  width: 100%;
}
.blog__buscadors .cajas .pl {
  padding-left: 0;
  padding-right: 0;
}
.blog__buscadors .cajas .caption {
  border: none;
  text-align: left;
}
.blog__buscadors .cajas .caption h4 {
  margin: 0;
}
.blog__buscadors .cajas .caption h5 {
  color: rojo_vino;
}
.blog__buscadors .cajas .caption i {
  color: #eee;
  margin-right: 0.5em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.blog__encabezado {
  margin-top: 2em;
  padding-left: 2em;
}
.blog__encabezado .tit {
  padding: 0.5em 1em;
  margin: 0;
  background: #eee;
  width: 100%;
  margin-bottom: 1em;
  font-size: 16px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
  color: #030786;
}
.pagination .btn-success {
  font-size: 20px !important;
  background: azul_marino !important;
}
/*--------------------------------------------TESTIMONIAL-------------------------------------------------*/
.testimonial {
  margin: 3em 0;
}
.testimonial p {
  text-align: center;
}
.testimonial .start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.testimonial .start div {
  border-bottom: 3px solid #030786;
}
.testimonial .start .glyphicon {
  color: #eee;
  font-size: 14px;
}
.testimonial .start .glyphicon.active {
  color: #ff0;
}
.testimonial .tes {
  text-align: center;
  color: #4d5c57;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial .tes p {
  width: 600px;
}
.testimonial h2 {
  text-align: center;
}
.testimonial h4 {
  text-align: center;
  color: #030786;
}
.testimonial .carousel-indicators {
  display: none;
}
.testimonial .carousel-inner>.item>img {
  width: 60px;
  height: 60px;
  margin: auto;
  border: 2px solid #eee;
  border-radius: 50%;
}
.testimonial .carousel-control {
  border: 4px solid #eee;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.testimonial .carousel-control .glyphicon {
  top: 20px;
  color: #eee;
}
.testimonial .carousel-control .glyphicon-chevron-left {
  left: 22px;
}
.testimonial .carousel-control .glyphicon-chevron-right {
  left: 10px;
}
header .navbar-inverse.sell_or_trade {
  background: #eee;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 0;
}
header .navbar-inverse.sell_or_trade .collapse {
  display: flex !important;
}
header .navbar-inverse.sell_or_trade .navbar-nav li {
  border-left: 1px solid #4d5c57;
  color: #000 !important;
}
header .navbar-inverse.sell_or_trade .navbar-nav li a {
  padding: 5px 10px !important;
  color: #000 !important;
}
header .navbar-inverse.sell_or_trade .navbar-nav li a:hover {
  background: #4d5c57 !important;
  color: #fff !important;
}
.trade {
  max-width: 1366px;
  margin: auto;
}
.trade .title {
  border-bottom: 1px solid #4d5c57;
  margin-top: 10px;
}
.trade .sub_title .imagen img {
  width: 100%;
}
.trade .sub_title .texto h2 {
  margin-top: 1em;
}
.trade .formulario .titulo {
  background: #030786;
  border-radius: 10px 10px 0 0;
  margin-left: 2em;
}
.trade .formulario .titulo h4 {
  text-align: center;
  color: #fff;
}
.trade .formulario .caja {
  border: 2px solid #eee;
  border-radius: 10px;
  margin-bottom: 2em;
}
.trade .formulario .caja select,
.trade .formulario .caja input {
  margin-left: 0px;
  width: 100%;
  border-radius: 5px;
}
.trade .formulario .caja h4 {
  height: 10px;
}
.trade .formulario .caja .tres .izq {
  padding-left: 0;
}
.trade .formulario .caja .tres .der {
  padding-right: 0;
}
@media (max-width: 768px) {
  .blog__buscadors {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
  .thumbnail {
    max-width: 100%;
  }
  .blog .thumbnail {
    height: 100%;
  }
  .blog .thumbnail .caption {
    height: 100%;
  }
  .trade .formulario .caja .tres .izq {
    padding-left: 15px;
  }
  .trade .formulario .caja .tres .der {
    padding-right: 15px;
  }
}
@media (max-width: 425px) {
  .contact_us .titulo {
    padding: 0;
  }
  .contact_us .titulo h3 {
    width: 100%;
  }
  .contact_us form {
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 320px) {
  .contact_us .email {
    flex-direction: column;
  }
}
.specials {
  margin-top: 2em;
}
.specials .email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.specials .email .titulo {
  font-size: 20px;
  font-weight: 900;
}
.specials .email img {
  width: 100px;
  height: 100px;
}
.specials .email h4 {
  padding: 0.5em;
}
.specials .redes {
  text-align: center;
  padding: 1em;
}
.specials .redes .titulo {
  font-weight: 700;
}
.specials .redes .icon {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specials .redes img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.specials .redes .redes {
  font-weight: 700;
}
.specials .info h3 {
  margin: 1em;
}
.specials .titulo h3 {
  background: #030786;
  color: #fff;
  width: 300px;
  padding: 0.1em 0.5em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.specials .cen button {
  width: 100%;
  background: #030786;
  border: 1px solid #030786;
  padding: 0.5em;
}
.specials form {
  margin-top: 0;
  margin-bottom: 10px;
}
.specials form .input-group {
  width: 100%;
  margin-bottom: 10px;
}
.specials form .input-group textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
}
.specials .borde {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
.specials .cars {
  margin-top: 0;
}
.specials .call .imagen img {
  width: 100%;
  height: 80px;
}
.specials .call .texto {
  margin-top: 5px;
}
.specials .call .texto h4 {
  color: #030786;
}
.specials .carros {
  text-align: center;
}
.specials .carros h4 {
  color: #4d5c57;
  font-weight: 600;
}
.specials .carros img {
  width: 100%;
  height: 180px;
}
.specials .carros a h4 {
  color: azul_claro;
}
.content_cal {
  max-width: 320px;
}
.content_cal p {
  position: inherit;
  color: #000;
}
.content_cal .calc_info {
  margin-top: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #fff, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fff, #e5e5e5);
  background-image: -ms-linear-gradient(top, #fff, #e5e5e5);
  background-image: -o-linear-gradient(top, #fff, #e5e5e5);
}
.content_cal .tabbed_top-header {
  color: #fff;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: #030786;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.content_cal .form fieldset {
  padding: 5px;
  border: 1px solid #c6c6c6;
  background-color: #ececec;
  border-radius: 0 0 5px 5px;
}
.content_cal .form fieldset input,
.content_cal .form fieldset select {
  width: 100%;
  margin: 0;
  border: 1px solid #000;
  background: #fff;
}
.content_cal .form fieldset .calculate_button {
  margin-top: 5px;
  border: none;
  background: #030786;
  color: #fff;
}
.approved {
  margin: auto;
  margin-top: 10em;
  max-width: 320px;
}
.approved #con2,
.approved #con3 {
  display: none;
}
.approved .cont {
  background-color: #000;
  border: 5px solid #2d54a8;
  padding: 10px 20px;
  height: 600px;
}
.approved .cont .btn-next {
  background: #2d54a8;
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #fcfcfc;
  position: relative;
  margin-top: 10px;
  text-decoration: none;
}
.approved .cont .btn-next:hover {
  color: #000;
}
.approved .cont .btn-next:disabled {
  background: #8bb5da;
}
.approved .cont .btn-next:disabled:hover {
  color: #fff;
}
.approved .cont i {
  background: #2d54a8;
  color: #76ff03;
  padding: 10px;
  font-size: 18px;
  top: 0px;
  margin-left: 10px;
  display: none;
}
.approved .cont h2 {
  color: #fcfcfc;
  line-height: 22px;
  font-size: 22px;
  margin-bottom: 10px;
}
.approved .cont h3 {
  color: #3c75e0;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 15px;
  font-weight: normal;
}
.approved .cont input {
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  background: #fff;
  border: none;
}
.approved .cont select {
  border: none;
}
.approved .cont label,
.approved .cont span {
  color: #fff;
  margin-right: 10px;
  width: 160px;
}
.approved .cont .radio.inline {
  display: flex;
  width: 100%;
  margin: 0;
  font-size: 12px;
}
.approved .cont .radio.inline input {
  width: 45px;
}
.approved .cont .radio.inline.check input {
  width: 22px;
}
.approved .cont .control-group.control2 {
  justify-content: flex-start;
}
.approved .cont .control-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.approved .cont .control-group .selt {
  width: 100%;
}
.approved .cont .control-group .input.error {
  width: 160px;
}
.approved .cont .control-group input {
  width: 45%;
  margin-left: 10%;
}
.approved .cont .control-group select {
  width: 45%;
  height: 34px;
  margin: 5px 0;
  background: #fff;
}
.detail .page .publicidad img {
  width: 100%;
}
